@mixin burger {
    $burger-width: 25px;
    $burger-height: 18px;
    $burger-line-height: 3px;
    $burger-line-color: $white;
    &__btn {
        display: none;
        width: 30px;
        height: 30px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 5px;
        background-color: transparent;
        transition: .3s background-color ease-in-out;
        border: none;
        cursor: pointer;
        @include tablet {
            display: flex;
        }

        &--active {
            .burger__line {
                transition: .3s transform ease-in-out;

                &:nth-child(1) {
                    transform: rotate(45deg);
                    top: 4px;
                }

                &:nth-child(2) {
                    display: none;
                }

                &:nth-child(3) {
                    transform: rotate(-45deg);
                    top: -4px;
                }
            }
        }

        
    }
    &__line {
        position: relative;
        display: block;
        width: $burger-width;
        height: $burger-line-height;
        background-color: $burger-line-color;
    }

    &__menu {
        opacity: 0;
        visibility: hidden;
        width: 100%;
        position: fixed;
        top: 75px;
        left: -100%;
        bottom: 0;
        transform: translateX(-50%);
        padding: 50px 20px;
        background-color: $black;
        transition: .3s opacity ease-in-out, .3s left ease-in-out, .3s visibility ease-in-out;
        z-index: 1000;

        &--active {
            left: 50%;
            opacity: 1;
            overflow: scroll;
            visibility: visible;
        }
        @include tablet-sm {
            padding: 70px 20px;
        }
    }

    &__list {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 24px;
        font-size: 1.2rem;
        font-weight: 400;
        list-style: none;
        padding: 0;
        margin: 0;
    }

    &__link {
        color: #fff;
        &:hover {
            color: $blue-900;
        }
        &:focus {
            color: $blue-900;
        }
    }
}