<!-- ABOUT -->
<section class="about">
    <p class="about__paragraph paragraph-common">
        Постоянно сканируя все доступные источники, анализируя и&nbsp;систематизируя в&nbsp;реальном времени, все значимые и&nbsp;имеющие влияние на&nbsp;изменения цены активов данные, платформа &laquo;Tradescanner.ru&raquo; выявляет потенциально-прибыльные торговые ситуации и&nbsp;наиболее благоприятные моменты для совершения сделок. Рассчитывает оптимальный диапазон входа, прогнозирует минимальные и&nbsp;максимально-возможные цели (тейк-профит), устанавливает безопасный уровень, при достижении которого сделка перестает быть актуальной (стоп-лосс), а&nbsp;также предоставляет данные о&nbsp;планируемом сроке сделки (стиль). Все расчеты систематизируются и&nbsp;отображаются в&nbsp;удобной для использования таблице.
    </p>
    <p class="about__paragraph paragraph-common">
        Основной задачей платформы является максимальное сокращение времени трейдеров и&nbsp;инвесторов на&nbsp;поиск наиболее выгодных для совершения сделок торговых ситуаций, и&nbsp;как следствие увеличения количества наблюдаемых активов, расширение и&nbsp;диверсификация собственного портфеля при сохранении личного свободного времени.
    </p>
    <p class="about__paragraph paragraph-common">
        Также, использование платформы сокращает расходы &laquo;профессиональных&raquo; участников рынка на&nbsp;дополнительные средства труда, такие как крупно диагональные мониторы, дополнительные компьютеры и&nbsp;сервера, так как убирает необходимость в&nbsp;постоянном мониторинге графиков.
    </p>
    <p class="about__paragraph paragraph-common">
        Доступ к&nbsp;платформе &laquo;непрофессиональных&raquo; участников рынка предоставляет им&nbsp;возможность качественно и&nbsp;активно управлять собственным портфелем без отрыва от&nbsp;своей основной деятельности.
    </p>
    <ul class="list-reset about__list">
        <li class="about__list-item">
            Ежедневно платформа сканирует и&nbsp;анализирует:
        </li>
        <li class="about__list-item">
            <b>Российский рынок</b>&nbsp;&mdash; все акции, в&nbsp;т.ч. привилегированные, депозитарные расписки и&nbsp;ETF, валюты в&nbsp;паре к&nbsp;рублю&nbsp;&mdash; USD, CNY, EUR, HKD, TRY, а&nbsp;также&nbsp;же некоторые товары и&nbsp;индексы торгующиеся на&nbsp;московской биржи.
        </li>
        <li class="about__list-item">
            <b>Крипто USDT</b>&nbsp;&mdash; 400 самых высоколиквидных криптовалют в&nbsp;паре к&nbsp;USDT.
        </li>
        <li class="about__list-item">
            <b>Крипто BTC</b>&nbsp;&mdash; 400 самых высоколиквидных криптовалют в&nbsp;паре к&nbsp;BTC.
        </li>
        <li class="about__list-item">
            <b>Рынок США</b>&nbsp;&mdash; 2000 самых популярных акций и&nbsp;депозитарных расписок, торгующихся на&nbsp;биржах nasdaq и&nbsp;nyse, а&nbsp;также порядка 50&nbsp;самых популярных ETF.
        </li>
        <li class="about__list-item">
            <b>Гонконгский рынок</b>&nbsp;&mdash; акции гонконгских компаний, ранее торговавшихся на&nbsp;Санкт-Петербургской бирже.
        </li>
    </ul>
    <p class="about__paragraph paragraph-common">
        Начав использовать данные сканера, ваш трейдинг и&nbsp;инвестиции перейдут на&nbsp;качественно новый уровень.
    </p>
    <p class="about__paragraph paragraph-common">
        Добро пожаловать в&nbsp;сообщество прибыльных трейдеров и&nbsp;инвесторов.
    </p>

    <div class="about__ps">P.S Простой дизайн с&nbsp;мощной начинкой.</div>
    <div class="about__gover">
        Распоряжение Правительства Российской Федерации от&nbsp;24.10.2023 &#8470;&nbsp;2958-р &laquo;Об&nbsp;утверждении Стратегии повышения финансовой грамотности и&nbsp;формирования финансовой культуры до&nbsp;2030&nbsp;года&raquo;.
    </div>

    <div class="about__firm firm-about">
        <div class="firm-about__name">ООО «Трейдсканер»</div>
        <div class="firm-about__inn">ИНН / КПП: 9728125770/772801001</div>
        <div class="firm-about__ogrn">ОГРН 1247700158430</div>
        <address class="firm-about__address">Адрес: 117342, г. Москва, вн.тер.г.муниципальный округ Коньково, ул.Бутлерова, д.17Б, помещ. 139Н</address>
    </div>
</section>
<!-- /ABOUT -->