<!-- BENEFITS -->
<section class="benefits">
    <div class="benefits__wrapper">
        <article class="benefits-item">
            <picture class="benefits-item__pic">
              <source srcset="./assets/img/webp/forecast.webp" media="(min-width: 576px)" type="image/webp" width="798" height="554">
              <source srcset="./assets/img/webp/forecast_mobile.webp" media="(max-width: 575px)" type="image/webp" width="301" height="209">
              <img loading="lazy" src="./assets/img/webp/forecast.webp" srcset="./assets/img/webp/forecast_2x.webp 2x" class="benefits-item__img" alt="ЕЖЕДНЕВНЫЙ ПРОГНОЗ БИРЖЕВЫХ ЦЕН С ВЫСОКОЙ ТОЧНОСТЬЮ">
            </picture>
            <div class="benefits-item__descr">
                <h2 class="benefits-item__title article-title">ЕЖЕДНЕВНЫЙ ПРОГНОЗ БИРЖЕВЫХ ЦЕН С ВЫСОКОЙ ТОЧНОСТЬЮ</h2>
                <p class="benefits-item__text article-text">Постоянно сканируя все доступные источники, анализируя и систематизируя в реальном времени, все значимые и имеющие влияние на изменения цены активов данные, сканер выявляет потенциально-прибыльные торговые ситуации и наиболее благоприятные моменты для совершения сделок.
                </p>
            </div>
        </article>
        <article class="benefits-item">
            <picture class="benefits-item__pic">
              <source srcset="./assets/img/webp/analysis.webp" media="(min-width: 576px)" type="image/webp" width="798" height="554">
              <source srcset="./assets/img/webp/analysis_mobile.webp" media="(max-width: 575px)" type="image/webp" width="301" height="209">
              <img loading="lazy" src="./assets/img/webp/analysis.webp" srcset="./assets/img/webp/analysis_2x.webp 2x" class="benefits-item__img" alt="ЕЖЕДНЕВНЫЙ ПРОГНОЗ БИРЖЕВЫХ ЦЕН С ВЫСОКОЙ ТОЧНОСТЬЮ">
            </picture>
            <div class="benefits-item__descr">
                <h2 class="benefits-item__title article-title">ПРОФЕССИОНАЛЬНЫЙ АНАЛИЗ В ВАШИХ РУКАХ</h2>
                <p class="benefits-item__text article-text">Сканер рассчитывает оптимальный диапазон входа, прогнозирует минимальные и максимально-возможные цели сделок (тейк-профит), устанавливает безопасный уровень стоп-лосса, при достижении которого сделка перестает быть актуальной.  предоставляет данные о планируемом сроке сделки (стиль).
                </p>
            </div>
        </article>
        <article class="benefits-item">
            <picture class="benefits-item__pic">
              <source srcset="./assets/img/webp/economy.webp" media="(min-width: 576px)" type="image/webp" width="798" height="554">
              <source srcset="./assets/img/webp/economy_mobile.webp" media="(max-width: 575px)" type="image/webp" width="301" height="209">
              <img loading="lazy" src="./assets/img/webp/economy.webp" srcset="./assets/img/webp/economy_2x.webp 2x" class="benefits-item__img" alt="ЕЖЕДНЕВНЫЙ ПРОГНОЗ БИРЖЕВЫХ ЦЕН С ВЫСОКОЙ ТОЧНОСТЬЮ">
            </picture>
            <div class="benefits-item__descr">
                <h2 class="benefits-item__title article-title">ЭКОНОМИТ 90% ЛИЧНОГО ВРЕМЕНИ ТРЕЙДЕРОВ И ИНВЕСТОРОВ</h2>
                <p class="benefits-item__text article-text">Основной задачей сканера является максимальное сокращение времени трейдеров и инвесторов на поиск наиболее выгодных для совершения сделок торговых ситуаций, и как следствие увеличения количества наблюдаемых активов, расширение и диверсификация собственного портфеля при сохранении личного свободного времени.
                </p>
            </div>
        </article>
    </div>
</section>
<!-- /BENEFITS -->