<!-- COMPANIES -->
<section class="companies">
    <h2 class="companies__title article-title">МОНИТОРИНГ 3000 БИРЖЕВЫХ АКТИВОВ</h2>
    <div class="companies__wrapper">
        <div class="companies__left">
            <p class="companies__paragraph article-text">
                <b>Россия</b> - все акции, в т.ч. привилегированные, депозитарные расписки, ПИФы, основные валюты в паре к рублю, индексы и некоторые товары торгующиеся на московской биржи.
            </p>
            <p class="companies__paragraph article-text">
                <b>Крипто USDT</b> - 400 самых высоколиквидных криптовалют в паре к USDT.
            </p>
            <p class="companies__paragraph article-text">
                <b>Крипто BTC</b> - 400 самых высоколиквидных криптовалют в паре к BTC.
            </p>
            <p class="companies__paragraph article-text">
                <b>США</b> - 2000 самых популярных акций, депозитарных расписок и ETF, торгующихся на биржах nasdaq и nyse.
            </p>
            <p class="companies__paragraph article-text">
                <b>Гонконг</b> - акции гонконгских компаний, ранее торговавшихся на Санкт-Петербургской бирже.
            </p>
        </div>
        <div class="companies__right">
            <picture class="companies__pic">
              <source srcset="/assets/img/webp/company-1.webp" media="(min-width: 576px)" type="image/webp" width="225" height="70">
              <source srcset="/assets/img/webp/company-1_mobile.webp" media="(max-width: 575px)" type="image/webp" width="79" height="25">
              <img loading="lazy" src="/assets/img/webp/company-1" class="companies__img" alt="Московская биржа">
            </picture>
            <picture class="companies__pic">
              <source srcset="/assets/img/webp/company-2.webp" media="(min-width: 576px)" type="image/webp" width="225" height="70">
              <source srcset="/assets/img/webp/company-2_mobile.webp" media="(max-width: 575px)" type="image/webp" width="80" height="25">
              <img loading="lazy" src="/assets/img/webp/company-2" class="companies__img" alt="NYSE">
            </picture>
            <picture class="companies__pic">
              <source srcset="/assets/img/webp/company-3.webp" media="(min-width: 576px)" type="image/webp" width="287" height="39">
              <source srcset="/assets/img/webp/company-3_mobile.webp" media="(max-width: 575px)" type="image/webp" width="102" height="14">
              <img loading="lazy" src="/assets/img/webp/company-3" class="companies__img" alt="СБП Биржа">
            </picture>
            <picture class="companies__pic">
              <source srcset="/assets/img/webp/company-4.webp" media="(min-width: 576px)" type="image/webp" width="225" height="57">
              <source srcset="/assets/img/webp/company-4_mobile.webp" media="(max-width: 575px)" type="image/webp" width="79" height="20">
              <img loading="lazy" src="/assets/img/webp/company-4" class="companies__img" width="" height="" alt="Nasdaq">
            </picture>
            <picture class="companies__pic">
              <source srcset="/assets/img/webp/company-5.webp" media="(min-width: 576px)" type="image/webp" width="135" height="102">
              <source srcset="/assets/img/webp/company-5_mobile.webp" media="(max-width: 575px)" type="image/webp" width="47" height="36">
              <img loading="lazy" src="/assets/img/webp/company-5" class="companies__img" alt="Binance">
            </picture>
            <picture class="companies__pic">
              <source srcset="/assets/img/webp/company-6.webp" media="(min-width: 576px)" type="image/webp" width="194" height="60">
              <source srcset="/assets/img/webp/company-6_mobile.webp" media="(max-width: 575px)" type="image/webp" width="69" height="21">
              <img loading="lazy" src="/assets/img/webp/company-6" class="companies__img" alt="BYBIT">
            </picture>
            <picture class="companies__pic">
              <source srcset="/assets/img/webp/company-7.webp" media="(min-width: 576px)" type="image/webp" width="154" height="39">
              <source srcset="/assets/img/webp/company-7_mobile.webp" media="(max-width: 575px)" type="image/webp" width="54" height="14">
              <img loading="lazy" src="/assets/img/webp/company-7" class="companies__img" alt="OKX">
            </picture>
            <picture class="companies__pic">
              <source srcset="/assets/img/webp/company-8.webp" media="(min-width: 576px)" type="image/webp" width="171" height="75">
              <source srcset="/assets/img/webp/company-8_mobile.webp" media="(max-width: 575px)" type="image/webp" width="61" height="26">
              <img loading="lazy" src="/assets/img/webp/company-8" class="companies__img" alt="HKEX">
            </picture>
        </div>
    </div>
</section>
<!-- /COMPANIES -->