<!-- EXAMPLES -->
<section class="examples">
    <h2 class="examples__title-table examples__title example-title">
        ПРИМЕР ТАБЛИЦЫ С ПОЛНОЦЕНЫМ ФУНКЦИОНАЛОМ
    </h2>
    <div class="examples__content-table examples__content">
        <picture>
          <source srcset="./assets/img/webp/economy.webp" media="(min-width: 576px)" type="image/webp" width="829" height="619">
          <source srcset="./assets/img/webp/economy_mobile.webp" media="(max-width: 575px)" type="image/webp" width="320" height="235">
          <img loading="lazy" src="./assets/img/webp/economy.webp" srcset="./assets/img/webp/economy_2x.webp 2x" class="examples__img" alt="ПРИМЕР ТАБЛИЦЫ С ПОЛНОЦЕНЫМ ФУНКЦИОНАЛОМ">
        </picture>
    </div>
    <h2 class="examples__title-search examples__title example-title">ПРИМЕР РАБОТЫ ПОИСКА ПО ТАБЛИЦЕ</h2>
    <div class="examples__content-search examples__content">
        <picture>
            <source srcset="./assets/img/webp/economy.webp" media="(min-width: 576px)" type="image/webp" width="829" height="619">
            <source srcset="./assets/img/webp/economy_mobile.webp" media="(max-width: 575px)" type="image/webp" width="320" height="235">
            <img loading="lazy" src="./assets/img/webp/economy.webp" srcset="./assets/img/webp/economy_2x.webp 2x" class="examples__img" alt="ПРИМЕР РАБОТЫ ПОИСКА ПО ТАБЛИЦЕ">
          </picture>
    </div>
</section>
<!-- /EXAMPLES -->