<!-- HEADER -->
<header class="header">
    <a href="index.html" class="header__logo logo">
        <picture>
          <source srcset="/assets/img/logo.svg" media="(min-width: 1200px)">
          <source srcset="/assets/img/logo_mobile.svg" media="(max-width: 1199px)" width="74" height="62">
          <img loading="lazy" src="/assets/img/logo.svg" class="logo__img" width="339" height="62" alt="Логотип TradeScanner">
        </picture>
        
    </a>
    <nav class="nav" title="Меню навигации">
      <ul class="list-reset nav__list">
        <li class="nav__item nav__item--active"><a href="#" class="nav__link">О сканере</a></li>
        <li class="nav__item"><a href="#" class="nav__link">Риск менеджмент</a></li>
        <li class="nav__item"><a href="#" class="nav__link">Как пользоваться</a></li>
      </ul>
    </nav>
    
    <div class="header__account">
        <a href="#" class="telegram">
            <img loading="lazy" src="/assets/img/telegram.svg" class="telegram__svg" width="39" height="39" alt="Телеграм">
        </a>
        <button class="btn-reset header__user header-user">
            <img loading="lazy" src="/assets/img/user.svg" class="header-user__svg" width="28" height="28" alt="Пользователь">
            <span class="header-user__login">Вход</span>
        </button>
        <div class="header__popup header-popup hidden">
            <a href="#" class="header-popup__link">Личный кабинет</a>
            <a href="page-login.html" class="header-popup__link">Логин</a>
            <a href="#" class="header-popup__link">Подписки</a>
            <a href="#" class="header-popup__link">Контакты</a>
            <a href="page-payment.html" class="header-popup__link">Оплата</a>
            <a href="#" class="header-popup__link">Выход</a>
        </div>
    </div>
    <div class="burger" title="Бургер меню">
        <button class="burger__btn" aria-label="Открыть меню" aria-expanded="false">
          <span class="burger__line"></span>
          <span class="burger__line"></span>
          <span class="burger__line"></span>
        </button>
        <div class="burger__menu" aria-hidden="true">
          <nav class="burger__nav" title="Меню навигации">
            <ul class="burger__list">
              <li class="burger__item"><a href="#" class="burger__link">О сканере</a></li>
              <li class="burger__item"><a href="#" class="burger__link">Риск менеджмент</a></li>
              <li class="burger__item"><a href="#" class="burger__link">Как пользоваться</a></li>
            </ul>
          </nav>
         </div>
      </div>
</header>
<!-- /HEADER -->