<!-- HERO -->
<section class="hero">
    
    <div class="hero__titles">
        <h1 class="hero__title text-gradient">сканер прибыльных сделок</h1>
        <h2 class="hero__subtitle">на фондовых и криптовалютных биржах мира</h2>
    </div>
    <picture>
        <source srcset="./assets/img/webp/hero-bg.webp" media="(min-width: 576px)" type="image/webp" width="691" height="498">
        <source srcset="./assets/img/webp/hero-bg_mobile.webp" media="(max-width: 575px)" type="image/webp" width="320" height="166">
        <img loading="lazy" src="./assets/img/webp/hero-bg.webp" srcset="./assets/img/webp/hero-bg_2x.webp 2x" class="hero__img" alt="СКАНЕР ПРИБЫЛЬНЫХ СДЕЛОК">
    </picture>
    
    <div class="hero__table hero-table">
        <div class="hero-table__popups">
            <div class="hero-table__popup hidden" data-popup-content="style">
                <div class="hero-table__popup-wrapper">
                    <p class="hero-table__popup-content">
                        СТИЛЬ - Основной параметр стилей сделок - это срок отработки, т.е. достижение цены актива до основного тейк-профита. Кроме того, стили характеризуются и другими параметрами, после ознакомления с которыми можно будет легко подобрать для себя комфортный режим торговли и инвестиций
                    </p>
                    <button class="btn-reset hero-table__popup-close">
                        <img loading="lazy" src="./assets/img/close.svg" class="hero-table__popup-svg" width="17" height="17" alt="Закрыть модальное окно">
                    </button>
                    <a href="register.html" class="register">Пройти регистрацию</a>
                </div>
            </div>
            <div class="hero-table__popup hero-table__popup--registered hidden" data-popup-content="teaker">
                <div class="hero-table__popup-wrapper">
                    <div class="hero-table__popup-content">
                        <p class="hero-table__popup-content">
                            Выберете сделки в соответствии с вашем стилем трейдинга и инвестиций
                        </p>
                        <form class="hero-table__form">
                            <label class="hero-table__label"><input type="checkbox" value="skalping" class="hero-table__input"><span>Скальпинг</span> 2-4 часа (скоро)</label>
                            <label class="hero-table__label"><input type="checkbox" value="inside" class="hero-table__input"><span>Внутри дня</span> 1-2 дня (скоро)</label>
                            <label class="hero-table__label"><input type="checkbox" value="swing" class="hero-table__input"><span>Свинг</span> 1-2 недели</label>
                            <label class="hero-table__label"><input type="checkbox" value="short" class="hero-table__input"><span>Краткосрок</span> 1-3 месяца</label>
                            <label class="hero-table__label"><input type="checkbox" value="middle" class="hero-table__input"><span>Среднесрок</span> 6-12 месяцев</label>
                            <label class="hero-table__label"><input type="checkbox" value="long" class="hero-table__input"><span>Долгосрок</span> 2-3 года</label>
                            <p class="hero-table__popup-content">
                                Основной параметр стилей сделок - это срок отработки, т.е. достижение цены актива до основного тейк-профита. Кроме того, стили характеризуются и другими параметрами, после ознакомления с которыми можно будет легко подобрать для себя комфортный режим торговли и инвестиций. Более подробно в нашей статье о стилях трейдинга
                                <a href="https://telegra.ph/Stili-na-tradescannerru-10-02" class="link">https://telegra.ph/Stili-na-tradescannerru-10-02</a>
                            </p>
                            <div class="hero-table__btns">
                                <button class="btn-reset hero-table__btn hero-table__btn--reset">Сброс</button>
                                <button class="btn-reset hero-table__btn hero-table__btn--save" type="submit">Сохранить</button>
                            </div>
                        </form>
                        <div class="hero-table__popup-close">
                            <img loading="lazy" src="./assets/img/close.svg" class="hero-table__popup-svg" width="17" height="17" alt="Закрыть модальное окно">
                        </div>
                    </div>
                </div>
            </div>
            <div class="hero-table__popup hidden" data-popup-content="range">
                <div class="hero-table__popup-wrapper">
                    <p class="hero-table__popup-content">
                        Зона цены, наиболее благоприятна для открытия новой позиции. Иногда указывается в виде двух цен - здесь вам предоставляется свобода выбора как использовать эту информацию. Так, например, вы можете открывать сделку только по первой цене (наименее выгодной), или открывать сделку только по второй цене (наиболее выгодной) если цена соизволит дойти до указанного уровня, а также можно распределить сумму, которую вы выделяете на данную сделку расставив два и более открывающих ордеров внутри указанного диапазона.
                    </p>
                    <div class="hero-table__popup-close">
                        <img loading="lazy" src="./assets/img/close.svg" class="hero-table__popup-svg" width="17" height="17" alt="Закрыть модальное окно">
                    </div>
                    <a href="register.html" class="register">Пройти регистрацию</a>
                </div>
            </div>
            <div class="hero-table__popup hidden" data-popup-content="profit">
                <div class="hero-table__popup-wrapper">
                    <p class="hero-table__popup-content">
                        Цена, являющаяся целью сделки, при достижении которой, вы получаете прибыль. В некоторых случаях указывается промежуточная цель (маленький шрифт), фиксация прибыли в данной области позволит значительно сократить риски, но не является обязательной и остается на ваше усмотрение.
                    </p>
                    <div class="hero-table__popup-close">
                        <img loading="lazy" src="./assets/img/close.svg" class="hero-table__popup-svg" width="17" height="17" alt="Закрыть модальное окно">
                    </div>
                    <a href="register.html" class="register">Пройти регистрацию</a>
                </div>
            </div>
            <div class="hero-table__popup hidden" data-popup-content="stop">
                <div class="hero-table__popup-wrapper">
                    <p class="hero-table__popup-content">
                        Цена, при достижении активом которой, сделка перестает быть актуальной, и ее необходимо закрыть, зафиксировав убыток.
                    </p>
                    <div class="hero-table__popup-close">
                        <img loading="lazy" src="./assets/img/close.svg" class="hero-table__popup-svg" width="17" height="17" alt="Закрыть модальное окно">
                    </div>
                    <a href="register.html" class="register">Пройти регистрацию</a>
                </div>
            </div>
            <div class="hero-table__popup hidden" data-popup-content="tp">
                <div class="hero-table__popup-wrapper">
                    <p class="hero-table__popup-content">
                        Данный показатель отражает потенциал изменения цены актива в %, от наименее выгодной точки входа в сделку до основного тейк-профита. <br>
                        Чтобы получить доступ к полному функционалу сайта, необходимо
                    </p>
                    <div class="hero-table__popup-close">
                        <img loading="lazy" src="./assets/img/close.svg" class="hero-table__popup-svg" width="17" height="17" alt="Закрыть модальное окно">
                    </div>
                    <a href="register.html" class="register">Пройти регистрацию</a>
                </div>
            </div>
            <div class="hero-table__popup hidden" data-popup-content="sp">
                <div class="hero-table__popup-wrapper">
                    <p class="hero-table__popup-content">
                        Данный показатель отражает % изменения цены актива от наименее выгодной точки входа до рекомендуемого Стоп-лосса<br>
                        Чтобы получить доступ к полному функционалу сайта, необходимо
                    </p>
                    <div class="hero-table__popup-close">
                        <img loading="lazy" src="./assets/img/close.svg" class="hero-table__popup-svg" width="17" height="17" alt="Закрыть модальное окно">
                    </div>
                    <a href="register.html" class="register">Пройти регистрацию</a>
                </div>
            </div>
            <div class="hero-table__popup hidden" data-popup-content="risk">
                <div class="hero-table__popup-wrapper">
                    <p class="hero-table__popup-content">
                        Данный показатель отражает потенциал сделки с точки зрения отношения ее потенциальной прибыли к потенциальному убытку. Расчет ведется по наименее выгодной точки входа в сделку.<br>
                        Чтобы получить доступ к полному функционалу сайта, необходимо
                    </p>
                    <div class="hero-table__popup-close">
                        <img loading="lazy" src="./assets/img/close.svg" class="hero-table__popup-svg" width="17" height="17" alt="Закрыть модальное окно">
                    </div>
                    <a href="register.html" class="register">Пройти регистрацию</a>
                </div>
                
            </div>
        </div>
        <picture>
          <source srcset="./assets/img/webp/circle-hero.webp" media="(min-width: 576px)" type="image/webp" width="1237" height="1214">
          <source srcset="./assets/img/webp/circle-hero_mobile.webp" media="(max-width: 575px)" type="image/webp">
          <img loading="lazy" src="./assets/img/webp/circle-hero.webp" class="hero__circle" alt="Фоновая подсветка">
        </picture>
        <div class="hero-table__top hero-table-top">
            <ul class="hero-table-top__list list-reset">
                <li class="hero-table-top__item hero-table-top__item--bg">
                    <input type="date" value="2024-06-07" class="hero-table-top__calendar">
                </li>
                <li class="hero-table-top__item" data-popup="style">Стиль</li>
                <li class="hero-table-top__item" data-popup="teaker">Тикер</li>
                <li class="hero-table-top__item" data-popup="risk">Прибыль/риск</li>
            </ul>
        </div>
        <div class="hero-table__tabs">
            <div class="hero-table__tabs-btns">
                <button class="btn-reset hero-table__tabitem hero-table-tabitem" data-tabBtn="1">
                    <span class="hero-table-tabitem__wrapper">
                        <span class="crypto-name">Россия</span>
                        <span class="crypto-deals">
                            <span class="crypto-deals__value">17</span>
                            <span class="crypto-deals__today">сделок сегодня</span>
                        </span>
                    </span>
                </button>
                <div class="hero-table__mobile-content table-mobile-content" data-tabMobileContent="1">
                    <div class="table-mobile-content__main">
                        <div class="table-mobile-content__fav plus">
                            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="20px" height="20px" viewBox="0 0 15 15" style="enable-background:new 0 0 15 15;"xml:space="preserve" class="table-mobile-content__col-svg">
                                <path d="M13.91,6.75c-1.17,2.25-4.3,5.31-6.07,6.94c-0.1903,0.1718-0.4797,0.1718-0.67,0C5.39,12.06,2.26,9,1.09,6.75
                                    C-1.48,1.8,5-1.5,7.5,3.45C10-1.5,16.48,1.8,13.91,6.75z"  fill="transparent"/>
                                </svg>
                        </div>
                        <div class="table-mobile-content__col plus mobile-time">
                            <button class="btn-reset popup-time-btn">Среднесрок</button>
                            <div class="popup-time hidden">6-12 месяцев</div>
                        </div>
                        <div class="table-mobile-content__col plus">
                            <span class="mobile-buffer">ZVEZ</span> 
                            <span class="hero-table__info hero-table__info--toleft hidden">Скопировано</span>
                        </div>
                        <div class="table-mobile-content__col plus">
                            <span>7.3</span> 
                            <span class="hero-table__info hero-table__info--toleft hidden">Скопировано</span>
                        </div>
                    </div>
                    <div class="table-mobile-content__other">
                        <ul class="list-reset table-mobile-content__names">
                            <li class="table-mobile-content__name" data-popup="range">Диапозон входа</li>
                            <li class="table-mobile-content__name" data-popup="profit">Тейк-Профит</li>
                            <li class="table-mobile-content__name" data-popup="stop">Стоп-Лосс</li>
                            <li class="table-mobile-content__name" data-popup="tp">% ТП</li>
                            <li class="table-mobile-content__name" data-popup="sp">% СП</li>
                        </ul>
                        <ul class="list-reset table-mobile-content__values">
                            <li class="table-mobile-content__value table-mobile-content__col plus">
                                <span class="mobile-buffer">3.66</span>
                                <span class="hero-table__info hero-table__info--toleft hidden">Скопировано</span>
                            </li>
                            <li class="table-mobile-content__value table-mobile-content__col plus">
                                <span class="mobile-buffer">3.66</span>
                                <span class="hero-table__info hero-table__info--toleft hidden">Скопировано</span>
                            </li>
                            <li class="table-mobile-content__value table-mobile-content__col plus">
                                <span class="mobile-buffer">3.66</span>
                                <span class="hero-table__info hero-table__info--toleft hidden">Скопировано</span>
                            </li>
                            <li class="table-mobile-content__value table-mobile-content__col plus">
                                <span>3.66</span>
                                <span class="hero-table__info hero-table__info--toleft hidden">Скопировано</span>
                            </li>
                            <li class="table-mobile-content__value table-mobile-content__col plus">
                                <span>3.66</span>
                                <span class="hero-table__info hero-table__info--toleft hidden">Скопировано</span>
                            </li>
                        </ul>
                    </div>
                </div>
                <button class="btn-reset hero-table__tabitem hero-table-tabitem" data-tabBtn="2">
                    <span class="hero-table-tabitem__wrapper">
                        <span class="crypto-name">США</span>
                        <span class="crypto-deals">
                            <span class="crypto-deals__value">63</span>
                            <span class="crypto-deals__today">сделок сегодня</span>
                        </span>
                    </span>
                </button>
                <div class="hero-table__mobile-content table-mobile-content" data-tabMobileContent="2">
                    <div class="table-mobile-content__main">
                        <div class="table-mobile-content__fav plus">
                            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="20px" height="20px" viewBox="0 0 15 15" style="enable-background:new 0 0 15 15;"xml:space="preserve" class="table-mobile-content__col-svg">
                                <path d="M13.91,6.75c-1.17,2.25-4.3,5.31-6.07,6.94c-0.1903,0.1718-0.4797,0.1718-0.67,0C5.39,12.06,2.26,9,1.09,6.75
                                    C-1.48,1.8,5-1.5,7.5,3.45C10-1.5,16.48,1.8,13.91,6.75z"  fill="transparent"/>
                                </svg>
                        </div>
                        <div class="table-mobile-content__col plus mobile-time">
                            <button class="btn-reset popup-time-btn">Среднесрок</button>
                            <div class="popup-time hidden">6-12 месяцев</div>
                        </div>
                        <div class="table-mobile-content__col plus">
                            <span class="mobile-buffer">ZVEZ</span>
                            <span class="hero-table__info hero-table__info--toleft hidden">Скопировано</span>
                        </div>
                        <div class="table-mobile-content__col plus">
                            <span>7.3</span>
                            <span class="hero-table__info hero-table__info--toleft hidden">Скопировано</span>
                        </div>
                    </div>
                    <div class="table-mobile-content__other">
                        <ul class="list-reset table-mobile-content__names">
                            <li class="table-mobile-content__name" data-popup="range">Диапозон входа</li>
                            <li class="table-mobile-content__name" data-popup="profit">Тейк-Профит</li>
                            <li class="table-mobile-content__name" data-popup="stop">Стоп-Лосс</li>
                            <li class="table-mobile-content__name" data-popup="tp">% ТП</li>
                            <li class="table-mobile-content__name" data-popup="sp">% СП</li>
                        </ul>
                        <ul class="list-reset table-mobile-content__values">
                            <li class="table-mobile-content__value table-mobile-content__col plus">
                                <span class="mobile-buffer">3.66</span>
                                <span class="hero-table__info hero-table__info--toleft hidden">Скопировано</span>
                            </li>
                            <li class="table-mobile-content__value table-mobile-content__col plus">
                                <span class="mobile-buffer">3.66</span>
                                <span class="hero-table__info hero-table__info--toleft hidden">Скопировано</span>
                            </li>
                            <li class="table-mobile-content__value table-mobile-content__col plus">
                                <span class="mobile-buffer">3.66</span>
                                <span class="hero-table__info hero-table__info--toleft hidden">Скопировано</span>
                            </li>
                            <li class="table-mobile-content__value table-mobile-content__col plus">
                                <span>3.66</span>
                                <span class="hero-table__info hero-table__info--toleft hidden">Скопировано</span>
                            </li>
                            <li class="table-mobile-content__value table-mobile-content__col plus">
                                <span>3.66</span>
                                <span class="hero-table__info hero-table__info--toleft hero-table__info--toleft hidden">Скопировано</span>
                            </li>
                        </ul>
                    </div>
                </div>
                <button class="btn-reset hero-table__tabitem hero-table-tabitem" data-tabBtn="3">
                    <span class="hero-table-tabitem__wrapper">
                        <span class="crypto-name">Гонконг</span>
                        <span class="crypto-deals">
                            <span class="crypto-deals__value">10</span>
                            <span class="crypto-deals__today">сделок сегодня</span>
                        </span>
                    </span>
                </button>
                <div class="hero-table__mobile-content table-mobile-content" data-tabMobileContent="3">
                    <div class="table-mobile-content__main">
                        <div class="table-mobile-content__fav minus">
                            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="20px" height="20px" viewBox="0 0 15 15" style="enable-background:new 0 0 15 15;"xml:space="preserve" class="table-mobile-content__col-svg">
                                <path d="M13.91,6.75c-1.17,2.25-4.3,5.31-6.07,6.94c-0.1903,0.1718-0.4797,0.1718-0.67,0C5.39,12.06,2.26,9,1.09,6.75
                                    C-1.48,1.8,5-1.5,7.5,3.45C10-1.5,16.48,1.8,13.91,6.75z"  fill="transparent"/>
                                </svg>
                        </div>
                        <div class="table-mobile-content__col minus mobile-time">
                            <button class="btn-reset popup-time-btn">Среднесрок</button>
                            <div class="popup-time hidden">6-12 месяцев</div>
                        </div>
                        <div class="table-mobile-content__col minus">
                            <span class="mobile-buffer">ZVEZ</span>
                            <span class="hero-table__info hero-table__info--toleft hidden">Скопировано</span>
                        </div>
                        <div class="table-mobile-content__col minus">
                            <span>7.3</span>
                            <span class="hero-table__info hero-table__info--toleft hidden">Скопировано</span>
                        </div>
                    </div>
                    <div class="table-mobile-content__other">
                        <ul class="list-reset table-mobile-content__names">
                            <li class="table-mobile-content__name" data-popup="range">Диапозон входа</li>
                            <li class="table-mobile-content__name" data-popup="profit">Тейк-Профит</li>
                            <li class="table-mobile-content__name" data-popup="stop">Стоп-Лосс</li>
                            <li class="table-mobile-content__name" data-popup="tp">% ТП</li>
                            <li class="table-mobile-content__name" data-popup="sp">% СП</li>
                        </ul>
                        <ul class="list-reset table-mobile-content__values">
                            <li class="table-mobile-content__value table-mobile-content__col minus">
                                <span class="mobile-buffer">3.66</span>
                                <span class="hero-table__info hero-table__info--toleft hidden">Скопировано</span>
                            </li>
                            <li class="table-mobile-content__value table-mobile-content__col minus">
                                <span class="mobile-buffer">3.66</span>
                                <span class="hero-table__info hero-table__info--toleft hidden">Скопировано</span>
                            </li>
                            <li class="table-mobile-content__value table-mobile-content__col minus">
                                <span class="mobile-buffer">3.66</span>
                                <span class="hero-table__info hero-table__info--toleft hidden">Скопировано</span>
                            </li>
                            <li class="table-mobile-content__value table-mobile-content__col minus">
                                <span>3.66</span>
                                <span class="hero-table__info hero-table__info--toleft hidden">Скопировано</span>
                            </li>
                            <li class="table-mobile-content__value table-mobile-content__col minus">
                                <span>3.66</span>
                                <span class="hero-table__info hero-table__info--toleft hero-table__info--toleft hidden">Скопировано</span>
                            </li>
                        </ul>
                    </div>
                </div>
                <button class="btn-reset hero-table__tabitem hero-table-tabitem" data-tabBtn="4">
                    <span class="hero-table-tabitem__wrapper">
                        <span class="crypto-name">Крипто USDT</span>
                        <span class="crypto-deals">
                            <span class="crypto-deals__value">3</span>
                            <span class="crypto-deals__today">сделок сегодня</span>
                        </span>
                    </span>
                </button>
                <div class="hero-table__mobile-content table-mobile-content" data-tabMobileContent="4">
                    <div class="table-mobile-content__main">
                        <div class="table-mobile-content__fav plus">
                            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="20px" height="20px" viewBox="0 0 15 15" style="enable-background:new 0 0 15 15;"xml:space="preserve" class="table-mobile-content__col-svg">
                                <path d="M13.91,6.75c-1.17,2.25-4.3,5.31-6.07,6.94c-0.1903,0.1718-0.4797,0.1718-0.67,0C5.39,12.06,2.26,9,1.09,6.75
                                    C-1.48,1.8,5-1.5,7.5,3.45C10-1.5,16.48,1.8,13.91,6.75z"  fill="transparent"/>
                                </svg>
                        </div>
                        <div class="table-mobile-content__col plus mobile-time">
                            <button class="btn-reset popup-time-btn">Среднесрок</button>
                            <div class="popup-time hidden">6-12 месяцев</div>
                        </div>
                        <div class="table-mobile-content__col plus">
                            <span class="mobile-buffer">ZVEZ</span>
                            <span class="hero-table__info hero-table__info--toleft hidden">Скопировано</span>
                        </div>
                        <div class="table-mobile-content__col plus">
                            <span>7.3</span>
                            <span class="hero-table__info hero-table__info--toleft hidden">Скопировано</span>
                        </div>
                    </div>
                    <div class="table-mobile-content__other">
                        <ul class="list-reset table-mobile-content__names">
                            <li class="table-mobile-content__name" data-popup="range">Диапозон входа</li>
                            <li class="table-mobile-content__name" data-popup="profit">Тейк-Профит</li>
                            <li class="table-mobile-content__name" data-popup="stop">Стоп-Лосс</li>
                            <li class="table-mobile-content__name" data-popup="tp">% ТП</li>
                            <li class="table-mobile-content__name" data-popup="sp">% СП</li>
                        </ul>
                        <ul class="list-reset table-mobile-content__values">
                            <li class="table-mobile-content__value table-mobile-content__col plus">
                                <span class="mobile-buffer">3.66</span>
                                <span class="hero-table__info hero-table__info--toleft hidden">Скопировано</span>
                            </li>
                            <li class="table-mobile-content__value table-mobile-content__col plus">
                                <span class="mobile-buffer">3.66</span>
                                <span class="hero-table__info hero-table__info--toleft hidden">Скопировано</span>
                            </li>
                            <li class="table-mobile-content__value table-mobile-content__col plus">
                                <span class="mobile-buffer">3.66</span>
                                <span class="hero-table__info hero-table__info--toleft hidden">Скопировано</span>
                            </li>
                            <li class="table-mobile-content__value table-mobile-content__col plus">
                                <span>3.66</span>
                                <span class="hero-table__info hero-table__info--toleft hidden">Скопировано</span>
                            </li>
                            <li class="table-mobile-content__value table-mobile-content__col plus">
                                <span>3.66</span>
                                <span class="hero-table__info hero-table__info--toleft hero-table__info--toleft hidden">Скопировано</span>
                            </li>
                        </ul>
                    </div>
                </div>
                <button class="btn-reset hero-table__tabitem hero-table-tabitem" data-tabBtn="5">
                    <span class="hero-table-tabitem__wrapper">
                        <span class="crypto-name">Крипто BTC</span>
                        <span class="crypto-deals">
                            <span class="crypto-deals__value">3</span>
                            <span class="crypto-deals__today">сделок сегодня</span>
                        </span>
                    </span>
                </button>
                <div class="hero-table__mobile-content table-mobile-content" data-tabMobileContent="5">
                    <div class="table-mobile-content__main">
                        <div class="table-mobile-content__fav minus">
                            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="20px" height="20px" viewBox="0 0 15 15" style="enable-background:new 0 0 15 15;"xml:space="preserve" class="table-mobile-content__col-svg">
                                <path d="M13.91,6.75c-1.17,2.25-4.3,5.31-6.07,6.94c-0.1903,0.1718-0.4797,0.1718-0.67,0C5.39,12.06,2.26,9,1.09,6.75
                                    C-1.48,1.8,5-1.5,7.5,3.45C10-1.5,16.48,1.8,13.91,6.75z"  fill="transparent"/>
                                </svg>
                        </div>
                        <div class="table-mobile-content__col minus mobile-time">
                            <button class="btn-reset popup-time-btn">Среднесрок</button>
                            <div class="popup-time hidden">6-12 месяцев</div>
                        </div>
                        <div class="table-mobile-content__col minus">
                            <span class="mobile-buffer">ZVEZ</span>
                            <span class="hero-table__info hero-table__info--toleft hidden">Скопировано</span>
                        </div>
                        <div class="table-mobile-content__col minus">
                            <span>7.3</span>
                            <span class="hero-table__info hero-table__info--toleft hidden">Скопировано</span>
                        </div>
                    </div>
                    <div class="table-mobile-content__other">
                        <ul class="list-reset table-mobile-content__names">
                            <li class="table-mobile-content__name" data-popup="range">Диапозон входа</li>
                            <li class="table-mobile-content__name" data-popup="profit">Тейк-Профит</li>
                            <li class="table-mobile-content__name" data-popup="stop">Стоп-Лосс</li>
                            <li class="table-mobile-content__name" data-popup="tp">% ТП</li>
                            <li class="table-mobile-content__name" data-popup="sp">% СП</li>
                        </ul>
                        <ul class="list-reset table-mobile-content__values">
                            <li class="table-mobile-content__value table-mobile-content__col minus">
                                <span class="mobile-buffer">3.66</span>
                                <span class="hero-table__info hero-table__info--toleft hidden">Скопировано</span>
                            </li>
                            <li class="table-mobile-content__value table-mobile-content__col minus">
                                <span class="mobile-buffer">3.66</span>
                                <span class="hero-table__info hero-table__info--toleft hidden">Скопировано</span>
                            </li>
                            <li class="table-mobile-content__value table-mobile-content__col minus">
                                <span class="mobile-buffer">3.66</span>
                                <span class="hero-table__info hero-table__info--toleft hidden">Скопировано</span>
                            </li>
                            <li class="table-mobile-content__value table-mobile-content__col minus">
                                <span>3.66</span>
                                <span class="hero-table__info hero-table__info--toleft hidden">Скопировано</span>
                            </li>
                            <li class="table-mobile-content__value table-mobile-content__col minus">
                                <span>3.66</span>
                                <span class="hero-table__info hero-table__info--toleft hero-table__info--toleft hidden">Скопировано</span>
                            </li>
                        </ul>
                    </div>
                </div>
                <a href="#search-input" class="btn-reset hero-table__tabitem hero-table-tabitem" data-tabBtn="search">
                    <span class="hero-table-tabitem__wrapper">
                        <span class="crypto-name">Поиск</span>
                    </span>
                </a>
                <div class="hero-table__mobile-content hero-table__mobile-content-search table-mobile-content" data-tabMobileContent="search">
                    <div class="table-mobile-content__search" data-tabMobileContent="search">
                        <input type="text" placeholder="Введите тикер или пару     глубина истории сделок 23.09.2023 г." class="table-mobile-content__search-input">
                    </div>
                </div>
            </div>
            <div class="hero-table__tabs-contents">
                <div class="hero-table__tabcontent tabcontent-hero-table">
                    <div class="tabcontent-hero-table__head">
                        <div class="tabcontent-hero-table__head-tr">
                            <div class="tabcontent-hero-table__head-th">
                                <input type="date" value="2024-06-07" name="calendar" class="tabcontent-hero-table__calendar">
                            </div>
                            <div class="tabcontent-hero-table__head-th">
                                <button class="btn-reset table-btn" data-popup="style">Стиль</button>
                            </div>
                            <div class="tabcontent-hero-table__head-th">
                                <button class="btn-reset table-btn" data-popup="teaker">Тикер</button>
                            </div>
                            <div class="tabcontent-hero-table__head-th">
                                <button class="btn-reset table-btn" data-popup="range">Диапозон входа</button>
                            </div>
                            <div class="tabcontent-hero-table__head-th">
                                <button class="btn-reset table-btn" data-popup="profit">Тейк-Профит</button>
                            </div>
                            <div class="tabcontent-hero-table__head-th">
                                <button class="btn-reset table-btn" data-popup="stop">Стоп-Лосс</button>
                            </div>
                            <div class="tabcontent-hero-table__head-th">
                                <button class="btn-reset table-btn" data-popup="tp">% ТП</button>
                            </div>
                            <div class="tabcontent-hero-table__head-th">
                                <button class="btn-reset table-btn" data-popup="sp">% СП</button>
                            </div>
                            <div class="tabcontent-hero-table__head-th">
                                <button class="btn-reset table-btn" data-popup="risk">Прибыль/риск</button>
                            </div>
                        </div>
                    </div>
                    <div class="tabcontent-hero-table__body table--active">
                        <div class="tabcontent-hero-table__body-tr">
                            <div class="tabcontent-hero-table__body-td minus">
                                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="20px" height="20px" viewBox="0 0 15 15" style="enable-background:new 0 0 15 15;"xml:space="preserve" class="tabcontent-hero-table__body-svg">
                                <path d="M13.91,6.75c-1.17,2.25-4.3,5.31-6.07,6.94c-0.1903,0.1718-0.4797,0.1718-0.67,0C5.39,12.06,2.26,9,1.09,6.75
                                    C-1.48,1.8,5-1.5,7.5,3.45C10-1.5,16.48,1.8,13.91,6.75z"  fill="transparent"/>
                                </svg>
                            </div>
                            <div class="tabcontent-hero-table__body-td tabcontent-hero-table__body-td-time minus time">
                                <button class="btn-reset popup-time-btn">Среднесрок</button>
                                <div class="popup-time hidden">6-12 месяцев</div>
                            </div>
                            <div class="tabcontent-hero-table__body-td minus pointer">
                                <span class="buffer">MRKS</span>
                                <span class="hero-table__info hidden">Скопировано</span>
                            </div>
                            <div class="tabcontent-hero-table__body-td minus two-digits">
                                <span class="pointer buffer">0.818</span> - <span class="pointer buffer">0.81</span>
                                <span class="hero-table__info hidden">Скопировано</span>
                            </div>
                            <div class="tabcontent-hero-table__body-td minus pointer">
                                <span class="buffer">1.75</span>
                                <span class="hero-table__info hidden">Скопировано</span>
                            </div>
                            <div class="tabcontent-hero-table__body-td minus pointer">
                                <span class="buffer">30.44</span>
                                <span class="hero-table__info hidden">Скопировано</span>
                            </div>
                            <div class="tabcontent-hero-table__body-td no-effect minus">
                                <span class="">8.31</span>
                                <span class="hero-table__info hidden">Скопировано</span>
                            </div>
                            <div class="tabcontent-hero-table__body-td no-effect minus">
                                <span>3.66</span>
                                <span class="hero-table__info hidden">Скопировано</span>
                            </div>
                            <div class="tabcontent-hero-table__body-td no-effect minus">
                                <span>3.66</span>
                                <span class="hero-table__info hero-table__info--toleft hidden">Скопировано</span>
                            </div>
                        </div>
                        <div class="tabcontent-hero-table__body-tr">
                            <div class="tabcontent-hero-table__body-td plus">
                                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="20px" height="20px" viewBox="0 0 15 15" style="enable-background:new 0 0 15 15;"xml:space="preserve" class="tabcontent-hero-table__body-svg">
                                <path d="M13.91,6.75c-1.17,2.25-4.3,5.31-6.07,6.94c-0.1903,0.1718-0.4797,0.1718-0.67,0C5.39,12.06,2.26,9,1.09,6.75
                                    C-1.48,1.8,5-1.5,7.5,3.45C10-1.5,16.48,1.8,13.91,6.75z"  fill="transparent"/>
                                </svg>
                            </div>
                            <div class="tabcontent-hero-table__body-td tabcontent-hero-table__body-td-time plus time">
                                <button class="btn-reset popup-time-btn">Среднесрок</button>
                                <div class="popup-time hidden">6-12 месяцев</div>
                            </div>
                            <div class="tabcontent-hero-table__body-td plus pointer">
                                <span class="buffer">MRKS</span>
                                <span class="hero-table__info hidden">Скопировано</span>
                            </div>
                            <div class="tabcontent-hero-table__body-td plus two-digits">
                                <span class="pointer buffer">0.818</span> - <span class="pointer buffer">0.81</span>
                                <span class="hero-table__info hidden">Скопировано</span>
                            </div>
                            <div class="tabcontent-hero-table__body-td plus pointer">
                                <span class="buffer">1.75</span>
                                <span class="hero-table__info hidden">Скопировано</span>
                            </div>
                            <div class="tabcontent-hero-table__body-td plus pointer">
                                <span class="buffer">30.44</span>
                                <span class="hero-table__info hidden">Скопировано</span>
                            </div>
                            <div class="tabcontent-hero-table__body-td no-effect plus">
                                <span>8.31</span>
                                <span class="hero-table__info hidden">Скопировано</span>
                            </div>
                            <div class="tabcontent-hero-table__body-td no-effect plus">
                                <span>3.66</span>
                                <span class="hero-table__info hidden">Скопировано</span>
                            </div>
                            <div class="tabcontent-hero-table__body-td no-effect plus">
                                <span>3.66</span>
                                <span class="hero-table__info hero-table__info--toleft hidden">Скопировано</span>
                            </div>
                        </div>
                        <div class="tabcontent-hero-table__body-tr">
                            <div class="tabcontent-hero-table__body-td minus">
                                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="20px" height="20px" viewBox="0 0 15 15" style="enable-background:new 0 0 15 15;"xml:space="preserve" class="tabcontent-hero-table__body-svg">
                                <path d="M13.91,6.75c-1.17,2.25-4.3,5.31-6.07,6.94c-0.1903,0.1718-0.4797,0.1718-0.67,0C5.39,12.06,2.26,9,1.09,6.75
                                    C-1.48,1.8,5-1.5,7.5,3.45C10-1.5,16.48,1.8,13.91,6.75z"  fill="transparent"/>
                                </svg>
                            </div>
                            <div class="tabcontent-hero-table__body-td tabcontent-hero-table__body-td-time minus time">
                                <button class="btn-reset popup-time-btn">Среднесрок</button>
                                <div class="popup-time hidden">6-12 месяцев</div>
                            </div>
                            <div class="tabcontent-hero-table__body-td minus pointer">
                                <span class="buffer">MRKS</span>
                                <span class="hero-table__info hidden">Скопировано</span>
                            </div>
                            <div class="tabcontent-hero-table__body-td minus two-digits">
                                <span class="pointer buffer">0.818</span> - <span class="pointer buffer">0.81</span>
                                <span class="hero-table__info hidden">Скопировано</span>
                            </div>
                            <div class="tabcontent-hero-table__body-td minus pointer">
                                <span class="buffer">1.75</span>
                                <span class="hero-table__info hidden">Скопировано</span>
                            </div>
                            <div class="tabcontent-hero-table__body-td minus pointer">
                                <span class="buffer">30.44</span>
                                <span class="hero-table__info hidden">Скопировано</span>
                            </div>
                            <div class="tabcontent-hero-table__body-td no-effect minus">
                                <span>8.31</span>
                                <span class="hero-table__info hidden">Скопировано</span>
                            </div>
                            <div class="tabcontent-hero-table__body-td no-effect minus">
                                <span>3.66</span>
                                <span class="hero-table__info hidden">Скопировано</span>
                            </div>
                            <div class="tabcontent-hero-table__body-td no-effect minus">
                                <span>3.66</span>
                                <span class="hero-table__info hero-table__info--toleft hidden">Скопировано</span>
                            </div>
                        </div>
                        <div class="tabcontent-hero-table__body-tr">
                            <div class="tabcontent-hero-table__body-td minus">
                                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="20px" height="20px" viewBox="0 0 15 15" style="enable-background:new 0 0 15 15;"xml:space="preserve" class="tabcontent-hero-table__body-svg">
                                <path d="M13.91,6.75c-1.17,2.25-4.3,5.31-6.07,6.94c-0.1903,0.1718-0.4797,0.1718-0.67,0C5.39,12.06,2.26,9,1.09,6.75
                                    C-1.48,1.8,5-1.5,7.5,3.45C10-1.5,16.48,1.8,13.91,6.75z"  fill="transparent"/>
                                </svg>
                            </div>
                            <div class="tabcontent-hero-table__body-td tabcontent-hero-table__body-td-time minus time">
                                <button class="btn-reset popup-time-btn">Среднесрок</button>
                                <div class="popup-time hidden">6-12 месяцев</div>
                            </div>
                            <div class="tabcontent-hero-table__body-td minus pointer">
                                <span class="buffer">MRKS</span>
                                <span class="hero-table__info hidden">Скопировано</span>
                            </div>
                            <div class="tabcontent-hero-table__body-td minus two-digits">
                                <span class="pointer buffer">0.818</span> - <span class="pointer buffer">0.81</span>
                            </div>
                            <div class="tabcontent-hero-table__body-td minus pointer">
                                <span class="buffer">1.75</span>
                                <span class="hero-table__info hidden">Скопировано</span>
                            </div>
                            <div class="tabcontent-hero-table__body-td minus pointer">
                                <span class="buffer">30.44</span>
                                <span class="hero-table__info hidden">Скопировано</span>
                            </div>
                            <div class="tabcontent-hero-table__body-td no-effect minus">
                                <span>8.31</span>
                                <span class="hero-table__info hidden">Скопировано</span>
                            </div>
                            <div class="tabcontent-hero-table__body-td no-effect minus">
                                <span>3.66</span>
                                <span class="hero-table__info hidden">Скопировано</span>
                            </div>
                            <div class="tabcontent-hero-table__body-td no-effect minus">
                                <span>3.66</span>
                                <span class="hero-table__info hero-table__info--toleft hidden">Скопировано</span>
                            </div>
                        </div>
                        <div class="tabcontent-hero-table__body-tr">
                            <div class="tabcontent-hero-table__body-td plus">
                                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="20px" height="20px" viewBox="0 0 15 15" style="enable-background:new 0 0 15 15;"xml:space="preserve" class="tabcontent-hero-table__body-svg">
                                <path d="M13.91,6.75c-1.17,2.25-4.3,5.31-6.07,6.94c-0.1903,0.1718-0.4797,0.1718-0.67,0C5.39,12.06,2.26,9,1.09,6.75
                                    C-1.48,1.8,5-1.5,7.5,3.45C10-1.5,16.48,1.8,13.91,6.75z"  fill="transparent"/>
                                </svg>
                            </div>
                            <div class="tabcontent-hero-table__body-td tabcontent-hero-table__body-td-time plus time">
                                <button class="btn-reset popup-time-btn">Среднесрок</button>
                                <div class="popup-time hidden">6-12 месяцев</div>
                            </div>
                            <div class="tabcontent-hero-table__body-td plus pointer">
                                <span class="buffer">MRKS</span>
                                <span class="hero-table__info hidden">Скопировано</span>
                            </div>
                            <div class="tabcontent-hero-table__body-td plus two-digits">
                                <span class="pointer buffer">0.818</span> - <span class="pointer buffer">0.81</span>
                            </div>
                            <div class="tabcontent-hero-table__body-td plus pointer">
                                <span class="buffer">1.75</span>
                                <span class="hero-table__info hidden">Скопировано</span>
                            </div>
                            <div class="tabcontent-hero-table__body-td plus pointer">
                                <span class="buffer">30.44</span>
                                <span class="hero-table__info hidden">Скопировано</span>
                            </div>
                            <div class="tabcontent-hero-table__body-td no-effect plus">
                                <span>8.31</span>
                                <span class="hero-table__info hidden">Скопировано</span>
                            </div>
                            <div class="tabcontent-hero-table__body-td no-effect plus">
                                <span>3.66</span>
                                <span class="hero-table__info hidden">Скопировано</span>
                            </div>
                            <div class="tabcontent-hero-table__body-td no-effect plus">
                                <span>3.66</span>
                                <span class="hero-table__info hero-table__info--toleft hidden">Скопировано</span>
                            </div>
                        </div>
                        <div class="tabcontent-hero-table__body-tr">
                            <div class="tabcontent-hero-table__body-td minus">
                                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="20px" height="20px" viewBox="0 0 15 15" style="enable-background:new 0 0 15 15;"xml:space="preserve" class="tabcontent-hero-table__body-svg">
                                <path d="M13.91,6.75c-1.17,2.25-4.3,5.31-6.07,6.94c-0.1903,0.1718-0.4797,0.1718-0.67,0C5.39,12.06,2.26,9,1.09,6.75
                                    C-1.48,1.8,5-1.5,7.5,3.45C10-1.5,16.48,1.8,13.91,6.75z"  fill="transparent"/>
                                </svg>
                            </div>
                            <div class="tabcontent-hero-table__body-td tabcontent-hero-table__body-td-time minus time">
                                <button class="btn-reset popup-time-btn">Среднесрок</button>
                                <div class="popup-time hidden">6-12 месяцев</div>
                            </div>
                            <div class="tabcontent-hero-table__body-td minus pointer">
                                <span class="buffer">MRKS</span>
                                <span class="hero-table__info hidden">Скопировано</span>
                            </div>
                            <div class="tabcontent-hero-table__body-td minus two-digits">
                                <span class="pointer buffer">0.818</span> - <span class="pointer buffer">0.81</span>
                            </div>
                            <div class="tabcontent-hero-table__body-td minus pointer">
                                <span class="buffer">1.75</span>
                                <span class="hero-table__info hidden">Скопировано</span>
                            </div>
                            <div class="tabcontent-hero-table__body-td minus pointer">
                                <span class="buffer">30.44</span>
                                <span class="hero-table__info hidden">Скопировано</span>
                            </div>
                            <div class="tabcontent-hero-table__body-td no-effect minus">
                                <span>8.31</span>
                                <span class="hero-table__info hidden">Скопировано</span>
                            </div>
                            <div class="tabcontent-hero-table__body-td no-effect minus">
                                <span>3.66</span>
                                <span class="hero-table__info hidden">Скопировано</span>
                            </div>
                            <div class="tabcontent-hero-table__body-td no-effect minus">
                                <span>3.66</span>
                                <span class="hero-table__info hero-table__info--toleft hidden">Скопировано</span>
                            </div>
                        </div>
                        <div class="tabcontent-hero-table__body-tr">
                            <div class="tabcontent-hero-table__body-td minus">
                                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="20px" height="20px" viewBox="0 0 15 15" style="enable-background:new 0 0 15 15;"xml:space="preserve" class="tabcontent-hero-table__body-svg">
                                <path d="M13.91,6.75c-1.17,2.25-4.3,5.31-6.07,6.94c-0.1903,0.1718-0.4797,0.1718-0.67,0C5.39,12.06,2.26,9,1.09,6.75
                                    C-1.48,1.8,5-1.5,7.5,3.45C10-1.5,16.48,1.8,13.91,6.75z"  fill="transparent"/>
                                </svg>
                            </div>
                            <div class="tabcontent-hero-table__body-td tabcontent-hero-table__body-td-time minus time">
                                <button class="btn-reset popup-time-btn">Среднесрок</button>
                                <div class="popup-time hidden">6-12 месяцев</div>
                            </div>
                            <div class="tabcontent-hero-table__body-td minus pointer">
                                <span class="buffer">MRKS</span>
                                <span class="hero-table__info hidden">Скопировано</span>
                            </div>
                            <div class="tabcontent-hero-table__body-td minus two-digits">
                                <span class="pointer buffer">0.818</span> - <span class="pointer buffer">0.81</span>
                            </div>
                            <div class="tabcontent-hero-table__body-td minus pointer">
                                <span class="buffer">1.75</span>
                                <span class="hero-table__info hidden">Скопировано</span>
                            </div>
                            <div class="tabcontent-hero-table__body-td minus pointer">
                                <span class="buffer">30.44</span>
                                <span class="hero-table__info hidden">Скопировано</span>
                            </div>
                            <div class="tabcontent-hero-table__body-td no-effect minus">
                                <span>8.31</span>
                                <span class="hero-table__info hidden">Скопировано</span>
                            </div>
                            <div class="tabcontent-hero-table__body-td no-effect minus">
                                <span>3.66</span>
                                <span class="hero-table__info hidden">Скопировано</span>
                            </div>
                            <div class="tabcontent-hero-table__body-td no-effect minus">
                                <span>3.66</span>
                                <span class="hero-table__info hero-table__info--toleft hidden">Скопировано</span>
                            </div>
                        </div>
                    </div>
                    <div class="tabcontent-hero-table__search" data-tabContent="search">
                        <input type="text" placeholder="Введите тикер или пару     глубина истории сделок 23.09.2023 г." class="tabcontent-hero-table__search-input" id="search-input">
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</section>
<!-- HERO -->