<!-- HERO -->
<section class="hero">
    
    <div class="hero__titles">
        <h1 class="hero__title text-gradient">сканер прибыльных сделок</h1>
        <h2 class="hero__subtitle">на фондовых и криптовалютных биржах мира</h2>
    </div>
    <picture>
        <source srcset="/assets/img/webp/hero-bg.webp" media="(min-width: 576px)" type="image/webp" width="691" height="498">
        <source srcset="/assets/img/webp/hero-bg_mobile.webp" media="(max-width: 575px)" type="image/webp" width="320" height="166">
        <img loading="lazy" src="/assets/img/webp/hero-bg.webp" srcset="/assets/img/webp/hero-bg_2x.webp 2x" class="hero__img" alt="СКАНЕР ПРИБЫЛЬНЫХ СДЕЛОК">
    </picture>
    
    <div class="hero__table hero-table">
        <picture>
          <source srcset="/assets/img/webp/circle-hero.webp" media="(min-width: 576px)" type="image/webp" width="1237" height="1214">
          <source srcset="/assets/img/webp/circle-hero_mobile.webp" media="(max-width: 575px)" type="image/webp">
          <img loading="lazy" src="/assets/img/webp/circle-hero.webp" class="hero__circle">
        </picture>
        <div class="hero-table__top hero-table-top">
            <ul class="hero-table-top__list list-reset">
                <li class="hero-table-top__item hero-table-top__item--bg">20 мая 2014</li>
                <li class="hero-table-top__item">Стиль</li>
                <li class="hero-table-top__item">Тикер</li>
                <li class="hero-table-top__item">Прибыль/риск</li>
            </ul>
        </div>
        <div class="hero-table__tabs">
            <div class="hero-table__popups">
                <div class="hero-table__popup" data-></div>
            </div>
            <div class="hero-table__tabs-btns">
                <button class="btn-reset hero-table__tabitem hero-table__tabitem--active hero-table-tabitem" data-tabBtn="1">
                    <div class="hero-table-tabitem__wrapper">
                        <div class="crypto-name">Россия</div>
                        <div class="crypto-deals">
                            <span class="crypto-deals__value">17</span>
                            <span class="crypto-deals__today">сделок сегодня</span>
                        </div>
                    </div>
                </button>
                <div class="hero-table__mobile-content table-mobile-content" data-tabMobileContent="1">
                    <div class="table-mobile-content__main">
                        <div class="table-mobile-content__col plus">Среднесрок</div>
                        <div class="table-mobile-content__col plus">ZVEZ</div>
                        <div class="table-mobile-content__col plus">7.3</div>
                    </div>
                    <div class="table-mobile-content__other">
                        <ul class="list-reset table-mobile-content__names">
                            <li class="table-mobile-content__name">Диапозон входа</li>
                            <li class="table-mobile-content__name">Тейк-Профит</li>
                            <li class="table-mobile-content__name">Стоп-Лосс</li>
                            <li class="table-mobile-content__name">%ТП</li>
                            <li class="table-mobile-content__name">%СП</li>
                        </ul>
                        <ul class="list-reset table-mobile-content__values">
                            <li class="table-mobile-content__value plus">3.66</li>
                            <li class="table-mobile-content__value plus">3.66</li>
                            <li class="table-mobile-content__value plus">3.66</li>
                            <li class="table-mobile-content__value plus">3.66</li>
                            <li class="table-mobile-content__value plus">3.66</li>
                        </ul>
                    </div>
                </div>
                <button class="btn-reset hero-table__tabitem hero-table-tabitem" data-tabBtn="2">
                    <div class="hero-table-tabitem__wrapper">
                        <div class="crypto-name">США</div>
                        <div class="crypto-deals">
                            <span class="crypto-deals__value">63</span>
                        </div>
                    </div>
                </button>
                <div class="hero-table__mobile-content table-mobile-content" data-tabMobileContent="2">
                    <div class="table-mobile-content__main">
                        <div class="table-mobile-content__col plus">Среднесрок</div>
                        <div class="table-mobile-content__col plus">ZVEZ</div>
                        <div class="table-mobile-content__col plus">7.3</div>
                    </div>
                    <div class="table-mobile-content__other">
                        <ul class="list-reset table-mobile-content__names">
                            <li class="table-mobile-content__name">Диапозон входа</li>
                            <li class="table-mobile-content__name">Тейк-Профит</li>
                            <li class="table-mobile-content__name">Стоп-Лосс</li>
                            <li class="table-mobile-content__name">%ТП</li>
                            <li class="table-mobile-content__name">%СП</li>
                        </ul>
                        <ul class="list-reset table-mobile-content__values">
                            <li class="table-mobile-content__value plus">3.66</li>
                            <li class="table-mobile-content__value plus">3.66</li>
                            <li class="table-mobile-content__value plus">3.66</li>
                            <li class="table-mobile-content__value plus">3.66</li>
                            <li class="table-mobile-content__value plus">3.66</li>
                        </ul>
                    </div>
                </div>
                <button class="btn-reset hero-table__tabitem hero-table-tabitem" data-tabBtn="3">
                    <div class="hero-table-tabitem__wrapper">
                        <div class="crypto-name">Гонконг</div>
                        <div class="crypto-deals">
                            <span class="crypto-deals__value">10</span>
                        </div>
                    </div>
                </button>
                <div class="hero-table__mobile-content table-mobile-content" data-tabMobileContent="3">
                    <div class="table-mobile-content__main">
                        <div class="table-mobile-content__col minus">Среднесрок</div>
                        <div class="table-mobile-content__col minus">ZVEZ</div>
                        <div class="table-mobile-content__col minus">7.3</div>
                    </div>
                    <div class="table-mobile-content__other">
                        <ul class="list-reset table-mobile-content__names">
                            <li class="table-mobile-content__name">Диапозон входа</li>
                            <li class="table-mobile-content__name">Тейк-Профит</li>
                            <li class="table-mobile-content__name">Стоп-Лосс</li>
                            <li class="table-mobile-content__name">%ТП</li>
                            <li class="table-mobile-content__name">%СП</li>
                        </ul>
                        <ul class="list-reset table-mobile-content__values">
                            <li class="table-mobile-content__value minus">3.66</li>
                            <li class="table-mobile-content__value minus">3.66</li>
                            <li class="table-mobile-content__value minus">3.66</li>
                            <li class="table-mobile-content__value minus">3.66</li>
                            <li class="table-mobile-content__value minus">3.66</li>
                        </ul>
                    </div>
                </div>
                <button class="btn-reset hero-table__tabitem hero-table-tabitem" data-tabBtn="4">
                    <div class="hero-table-tabitem__wrapper">
                        <div class="crypto-name">Крипто USDT</div>
                        <div class="crypto-deals">
                            <span class="crypto-deals__value">3</span>
                        </div>
                    </div>
                </button>
                <div class="hero-table__mobile-content table-mobile-content" data-tabMobileContent="4">
                    <div class="table-mobile-content__main">
                        <div class="table-mobile-content__col plus">Среднесрок</div>
                        <div class="table-mobile-content__col plus">ZVEZ</div>
                        <div class="table-mobile-content__col plus">7.3</div>
                    </div>
                    <div class="table-mobile-content__other">
                        <ul class="list-reset table-mobile-content__names">
                            <li class="table-mobile-content__name">Диапозон входа</li>
                            <li class="table-mobile-content__name">Тейк-Профит</li>
                            <li class="table-mobile-content__name">Стоп-Лосс</li>
                            <li class="table-mobile-content__name">%ТП</li>
                            <li class="table-mobile-content__name">%СП</li>
                        </ul>
                        <ul class="list-reset table-mobile-content__values">
                            <li class="table-mobile-content__value plus">3.66</li>
                            <li class="table-mobile-content__value plus">3.66</li>
                            <li class="table-mobile-content__value plus">3.66</li>
                            <li class="table-mobile-content__value plus">3.66</li>
                            <li class="table-mobile-content__value plus">3.66</li>
                        </ul>
                    </div>
                </div>
                <button class="btn-reset hero-table__tabitem hero-table-tabitem" data-tabBtn="5">
                    <div class="hero-table-tabitem__wrapper">
                        <div class="crypto-name">Крипто BTC</div>
                        <div class="crypto-deals">
                            <span class="crypto-deals__value">3</span>
                        </div>
                    </div>
                </button>
                <div class="hero-table__mobile-content table-mobile-content" data-tabMobileContent="5">
                    <div class="table-mobile-content__main">
                        <div class="table-mobile-content__col minus">Среднесрок</div>
                        <div class="table-mobile-content__col minus">ZVEZ</div>
                        <div class="table-mobile-content__col minus">7.3</div>
                    </div>
                    <div class="table-mobile-content__other">
                        <ul class="list-reset table-mobile-content__names">
                            <li class="table-mobile-content__name">Диапозон входа</li>
                            <li class="table-mobile-content__name">Тейк-Профит</li>
                            <li class="table-mobile-content__name">Стоп-Лосс</li>
                            <li class="table-mobile-content__name">%ТП</li>
                            <li class="table-mobile-content__name">%СП</li>
                        </ul>
                        <ul class="list-reset table-mobile-content__values">
                            <li class="table-mobile-content__value minus">3.66</li>
                            <li class="table-mobile-content__value minus">3.66</li>
                            <li class="table-mobile-content__value minus">3.66</li>
                            <li class="table-mobile-content__value minus">3.66</li>
                            <li class="table-mobile-content__value minus">3.66</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="hero-table__tabs-contents">
                <table class="hero-table__tabcontent tabcontent-hero-table" data-tabContent="1">
                    <thead class="tabcontent-hero-table__head">
                        <tr class="tabcontent-hero-table__head-tr">
                            <th class="tabcontent-hero-table__head-th" data-popup="style">Стиль</th>
                            <th class="tabcontent-hero-table__head-th" data-popup="teaker">Тикер</th>
                            <th class="tabcontent-hero-table__head-th" data-popup="range">Диапозон входа</th>
                            <th class="tabcontent-hero-table__head-th" data-popup="profit">Тейк-Профит</th>
                            <th class="tabcontent-hero-table__head-th" data-popup="stop">Стоп-Лосс</th>
                            <th class="tabcontent-hero-table__head-th" data-popup="tp">%ТП</th>
                            <th class="tabcontent-hero-table__head-th" data-popup="sp">%СП</th>
                            <th class="tabcontent-hero-table__head-th" data-popup="profit">Прибыль/риск</th>
                        </tr>
                        <tr class="tabcontent-hero-table__head-th empty"></tr>
                    </thead>
                    <tbody class="tabcontent-hero-table__body">
                        <tr class="tabcontent-hero-table__body-tr">
                            <td  class="tabcontent-hero-table__body-td minus">Среднесрок</td>
                            <td class="tabcontent-hero-table__body-td minus">MRKS</td>
                            <td class="tabcontent-hero-table__body-td minus">0.818 - 0.81</td>
                            <td class="tabcontent-hero-table__body-td minus">1.75</td>
                            <td class="tabcontent-hero-table__body-td minus">30.44</td>
                            <td class="tabcontent-hero-table__body-td minus">8.31</td>
                            <td class="tabcontent-hero-table__body-td minus">3.66</td>
                            <td class="tabcontent-hero-table__body-td minus">3.66</td>
                        </tr>
                        <tr class="tabcontent-hero-table__body-tr">
                            <td class="tabcontent-hero-table__body-td plus">Среднесрок</td>
                            <td class="tabcontent-hero-table__body-td plus">MRKS</td>
                            <td class="tabcontent-hero-table__body-td plus">0.818 - 0.81</td>
                            <td class="tabcontent-hero-table__body-td plus">1.75</td>
                            <td class="tabcontent-hero-table__body-td plus">30.44</td>
                            <td class="tabcontent-hero-table__body-td plus">8.31</td>
                            <td class="tabcontent-hero-table__body-td plus">3.66</td>
                            <td class="tabcontent-hero-table__body-td plus">3.66</td>
                        </tr>
                        <tr class="tabcontent-hero-table__body-tr">
                            <td class="tabcontent-hero-table__body-td minus">Среднесрок</td>
                            <td class="tabcontent-hero-table__body-td minus">MRKS</td>
                            <td class="tabcontent-hero-table__body-td minus">0.818 - 0.81</td>
                            <td class="tabcontent-hero-table__body-td minus">1.75</td>
                            <td class="tabcontent-hero-table__body-td minus">30.44</td>
                            <td class="tabcontent-hero-table__body-td minus">8.31</td>
                            <td class="tabcontent-hero-table__body-td minus">3.66</td>
                            <td class="tabcontent-hero-table__body-td minus">3.66</td>
                        </tr>
                        <tr class="tabcontent-hero-table__body-tr tabcontent-hero-table__body-tr--actual">
                            <td class="tabcontent-hero-table__body-td minus">Среднесрок</td>
                            <td class="tabcontent-hero-table__body-td minus">MRKS</td>
                            <td class="tabcontent-hero-table__body-td minus">0.818 - 0.81</td>
                            <td class="tabcontent-hero-table__body-td minus">1.75</td>
                            <td class="tabcontent-hero-table__body-td minus">30.44</td>
                            <td class="tabcontent-hero-table__body-td minus">8.31</td>
                            <td class="tabcontent-hero-table__body-td minus">3.66</td>
                            <td class="tabcontent-hero-table__body-td minus">3.66</td>
                        </tr>
                        <tr class="tabcontent-hero-table__body-tr">
                            <td class="tabcontent-hero-table__body-td plus">Среднесрок</td>
                            <td class="tabcontent-hero-table__body-td plus">MRKS</td>
                            <td class="tabcontent-hero-table__body-td plus">0.818 - 0.81</td>
                            <td class="tabcontent-hero-table__body-td plus">1.75</td>
                            <td class="tabcontent-hero-table__body-td plus">30.44</td>
                            <td class="tabcontent-hero-table__body-td plus">8.31</td>
                            <td class="tabcontent-hero-table__body-td plus">3.66</td>
                            <td class="tabcontent-hero-table__body-td plus">3.66</td>
                        </tr>
                        <tr class="tabcontent-hero-table__body-tr">
                            <td class="tabcontent-hero-table__body-td minus">Среднесрок</td>
                            <td class="tabcontent-hero-table__body-td minus">MRKS</td>
                            <td class="tabcontent-hero-table__body-td minus">0.818 - 0.81</td>
                            <td class="tabcontent-hero-table__body-td minus">1.75</td>
                            <td class="tabcontent-hero-table__body-td minus">30.44</td>
                            <td class="tabcontent-hero-table__body-td minus">8.31</td>
                            <td class="tabcontent-hero-table__body-td minus">3.66</td>
                            <td class="tabcontent-hero-table__body-td minus">3.66</td>
                        </tr>
                        <tr class="tabcontent-hero-table__body-tr">
                            <td class="tabcontent-hero-table__body-td minus">Среднесрок</td>
                            <td class="tabcontent-hero-table__body-td minus">MRKS</td>
                            <td class="tabcontent-hero-table__body-td minus">0.818 - 0.81</td>
                            <td class="tabcontent-hero-table__body-td minus">1.75</td>
                            <td class="tabcontent-hero-table__body-td minus">30.44</td>
                            <td class="tabcontent-hero-table__body-td minus">8.31</td>
                            <td class="tabcontent-hero-table__body-td minus">3.66</td>
                            <td class="tabcontent-hero-table__body-td minus">3.66</td>
                        </tr>
                    </tbody>
                </table>
                <table class="hero-table__tabcontent tabcontent-hero-table" data-tabContent="2">
                    <thead class="tabcontent-hero-table__head">
                        <tr class="tabcontent-hero-table__head-tr">
                            <th class="tabcontent-hero-table__head-th" data-popup="style">Стиль</th>
                            <th class="tabcontent-hero-table__head-th" data-popup="teaker">Тикер</th>
                            <th class="tabcontent-hero-table__head-th" data-popup="range">Диапозон входа</th>
                            <th class="tabcontent-hero-table__head-th" data-popup="profit">Тейк-Профит</th>
                            <th class="tabcontent-hero-table__head-th" data-popup="stop">Стоп-Лосс</th>
                            <th class="tabcontent-hero-table__head-th" data-popup="tp">%ТП</th>
                            <th class="tabcontent-hero-table__head-th" data-popup="sp">%СП</th>
                            <th class="tabcontent-hero-table__head-th" data-popup="profit">Прибыль/риск</th>
                        </tr>
                        <tr class="tabcontent-hero-table__head-th empty"></tr>
                    </thead>
                    <tbody class="tabcontent-hero-table__body">
                        <tr class="tabcontent-hero-table__body-tr">
                            <td  class="tabcontent-hero-table__body-td minus">Среднесрок</td>
                            <td class="tabcontent-hero-table__body-td minus">MRKS</td>
                            <td class="tabcontent-hero-table__body-td minus">0.818 - 0.81</td>
                            <td class="tabcontent-hero-table__body-td minus">1.85</td>
                            <td class="tabcontent-hero-table__body-td minus">30.44</td>
                            <td class="tabcontent-hero-table__body-td minus">8.31</td>
                            <td class="tabcontent-hero-table__body-td minus">3.66</td>
                            <td class="tabcontent-hero-table__body-td minus">3.66</td>
                        </tr>
                        <tr class="tabcontent-hero-table__body-tr">
                            <td class="tabcontent-hero-table__body-td plus">Среднесрок</td>
                            <td class="tabcontent-hero-table__body-td plus">MRKS</td>
                            <td class="tabcontent-hero-table__body-td plus">0.818 - 0.81</td>
                            <td class="tabcontent-hero-table__body-td plus">1.85</td>
                            <td class="tabcontent-hero-table__body-td plus">30.44</td>
                            <td class="tabcontent-hero-table__body-td plus">8.31</td>
                            <td class="tabcontent-hero-table__body-td plus">3.66</td>
                            <td class="tabcontent-hero-table__body-td plus">3.66</td>
                        </tr>
                        <tr class="tabcontent-hero-table__body-tr">
                            <td class="tabcontent-hero-table__body-td minus">Среднесрок</td>
                            <td class="tabcontent-hero-table__body-td minus">MRKS</td>
                            <td class="tabcontent-hero-table__body-td minus">0.818 - 0.81</td>
                            <td class="tabcontent-hero-table__body-td minus">1.85</td>
                            <td class="tabcontent-hero-table__body-td minus">30.44</td>
                            <td class="tabcontent-hero-table__body-td minus">8.31</td>
                            <td class="tabcontent-hero-table__body-td minus">3.66</td>
                            <td class="tabcontent-hero-table__body-td minus">3.66</td>
                        </tr>
                        <tr class="tabcontent-hero-table__body-tr tabcontent-hero-table__body-tr--actual">
                            <td class="tabcontent-hero-table__body-td minus">Среднесрок</td>
                            <td class="tabcontent-hero-table__body-td minus">MRKS</td>
                            <td class="tabcontent-hero-table__body-td minus">0.818 - 0.81</td>
                            <td class="tabcontent-hero-table__body-td minus">1.85</td>
                            <td class="tabcontent-hero-table__body-td minus">30.44</td>
                            <td class="tabcontent-hero-table__body-td minus">8.31</td>
                            <td class="tabcontent-hero-table__body-td minus">3.66</td>
                            <td class="tabcontent-hero-table__body-td minus">3.66</td>
                        </tr>
                        <tr class="tabcontent-hero-table__body-tr">
                            <td class="tabcontent-hero-table__body-td plus">Среднесрок</td>
                            <td class="tabcontent-hero-table__body-td plus">MRKS</td>
                            <td class="tabcontent-hero-table__body-td plus">0.818 - 0.81</td>
                            <td class="tabcontent-hero-table__body-td plus">1.85</td>
                            <td class="tabcontent-hero-table__body-td plus">30.44</td>
                            <td class="tabcontent-hero-table__body-td plus">8.31</td>
                            <td class="tabcontent-hero-table__body-td plus">3.66</td>
                            <td class="tabcontent-hero-table__body-td plus">3.66</td>
                        </tr>
                        <tr class="tabcontent-hero-table__body-tr">
                            <td class="tabcontent-hero-table__body-td minus">Среднесрок</td>
                            <td class="tabcontent-hero-table__body-td minus">MRKS</td>
                            <td class="tabcontent-hero-table__body-td minus">0.818 - 0.81</td>
                            <td class="tabcontent-hero-table__body-td minus">1.85</td>
                            <td class="tabcontent-hero-table__body-td minus">30.44</td>
                            <td class="tabcontent-hero-table__body-td minus">8.31</td>
                            <td class="tabcontent-hero-table__body-td minus">3.66</td>
                            <td class="tabcontent-hero-table__body-td minus">3.66</td>
                        </tr>
                        <tr class="tabcontent-hero-table__body-tr">
                            <td class="tabcontent-hero-table__body-td minus">Среднесрок</td>
                            <td class="tabcontent-hero-table__body-td minus">MRKS</td>
                            <td class="tabcontent-hero-table__body-td minus">0.818 - 0.81</td>
                            <td class="tabcontent-hero-table__body-td minus">1.85</td>
                            <td class="tabcontent-hero-table__body-td minus">30.44</td>
                            <td class="tabcontent-hero-table__body-td minus">8.31</td>
                            <td class="tabcontent-hero-table__body-td minus">3.66</td>
                            <td class="tabcontent-hero-table__body-td minus">3.66</td>
                        </tr>
                    </tbody>
                </table>
                <table class="hero-table__tabcontent tabcontent-hero-table" data-tabContent="3">
                    <thead class="tabcontent-hero-table__head">
                        <tr class="tabcontent-hero-table__head-tr">
                            <th class="tabcontent-hero-table__head-th" data-popup="style">Стиль</th>
                            <th class="tabcontent-hero-table__head-th" data-popup="teaker">Тикер</th>
                            <th class="tabcontent-hero-table__head-th" data-popup="range">Диапозон входа</th>
                            <th class="tabcontent-hero-table__head-th" data-popup="profit">Тейк-Профит</th>
                            <th class="tabcontent-hero-table__head-th" data-popup="stop">Стоп-Лосс</th>
                            <th class="tabcontent-hero-table__head-th" data-popup="tp">%ТП</th>
                            <th class="tabcontent-hero-table__head-th" data-popup="sp">%СП</th>
                            <th class="tabcontent-hero-table__head-th" data-popup="profit">Прибыль/риск</th>
                        </tr>
                        <tr class="tabcontent-hero-table__head-th empty"></tr>
                    </thead>
                    <tbody class="tabcontent-hero-table__body">
                        <tr class="tabcontent-hero-table__body-tr">
                            <td  class="tabcontent-hero-table__body-td minus">Среднесрок</td>
                            <td class="tabcontent-hero-table__body-td minus">MRKS</td>
                            <td class="tabcontent-hero-table__body-td minus">0.818 - 0.81</td>
                            <td class="tabcontent-hero-table__body-td minus">1.65</td>
                            <td class="tabcontent-hero-table__body-td minus">30.44</td>
                            <td class="tabcontent-hero-table__body-td minus">8.31</td>
                            <td class="tabcontent-hero-table__body-td minus">3.66</td>
                            <td class="tabcontent-hero-table__body-td minus">3.66</td>
                        </tr>
                        <tr class="tabcontent-hero-table__body-tr">
                            <td class="tabcontent-hero-table__body-td plus">Среднесрок</td>
                            <td class="tabcontent-hero-table__body-td plus">MRKS</td>
                            <td class="tabcontent-hero-table__body-td plus">0.818 - 0.81</td>
                            <td class="tabcontent-hero-table__body-td plus">1.65</td>
                            <td class="tabcontent-hero-table__body-td plus">30.44</td>
                            <td class="tabcontent-hero-table__body-td plus">8.31</td>
                            <td class="tabcontent-hero-table__body-td plus">3.66</td>
                            <td class="tabcontent-hero-table__body-td plus">3.66</td>
                        </tr>
                        <tr class="tabcontent-hero-table__body-tr">
                            <td class="tabcontent-hero-table__body-td minus">Среднесрок</td>
                            <td class="tabcontent-hero-table__body-td minus">MRKS</td>
                            <td class="tabcontent-hero-table__body-td minus">0.818 - 0.81</td>
                            <td class="tabcontent-hero-table__body-td minus">1.65</td>
                            <td class="tabcontent-hero-table__body-td minus">30.44</td>
                            <td class="tabcontent-hero-table__body-td minus">8.31</td>
                            <td class="tabcontent-hero-table__body-td minus">3.66</td>
                            <td class="tabcontent-hero-table__body-td minus">3.66</td>
                        </tr>
                        <tr class="tabcontent-hero-table__body-tr tabcontent-hero-table__body-tr--actual">
                            <td class="tabcontent-hero-table__body-td minus">Среднесрок</td>
                            <td class="tabcontent-hero-table__body-td minus">MRKS</td>
                            <td class="tabcontent-hero-table__body-td minus">0.818 - 0.81</td>
                            <td class="tabcontent-hero-table__body-td minus">1.65</td>
                            <td class="tabcontent-hero-table__body-td minus">30.44</td>
                            <td class="tabcontent-hero-table__body-td minus">8.31</td>
                            <td class="tabcontent-hero-table__body-td minus">3.66</td>
                            <td class="tabcontent-hero-table__body-td minus">3.66</td>
                        </tr>
                        <tr class="tabcontent-hero-table__body-tr">
                            <td class="tabcontent-hero-table__body-td plus">Среднесрок</td>
                            <td class="tabcontent-hero-table__body-td plus">MRKS</td>
                            <td class="tabcontent-hero-table__body-td plus">0.818 - 0.81</td>
                            <td class="tabcontent-hero-table__body-td plus">1.65</td>
                            <td class="tabcontent-hero-table__body-td plus">30.44</td>
                            <td class="tabcontent-hero-table__body-td plus">8.31</td>
                            <td class="tabcontent-hero-table__body-td plus">3.66</td>
                            <td class="tabcontent-hero-table__body-td plus">3.66</td>
                        </tr>
                        <tr class="tabcontent-hero-table__body-tr">
                            <td class="tabcontent-hero-table__body-td minus">Среднесрок</td>
                            <td class="tabcontent-hero-table__body-td minus">MRKS</td>
                            <td class="tabcontent-hero-table__body-td minus">0.818 - 0.81</td>
                            <td class="tabcontent-hero-table__body-td minus">1.65</td>
                            <td class="tabcontent-hero-table__body-td minus">30.44</td>
                            <td class="tabcontent-hero-table__body-td minus">8.31</td>
                            <td class="tabcontent-hero-table__body-td minus">3.66</td>
                            <td class="tabcontent-hero-table__body-td minus">3.66</td>
                        </tr>
                        <tr class="tabcontent-hero-table__body-tr">
                            <td class="tabcontent-hero-table__body-td minus">Среднесрок</td>
                            <td class="tabcontent-hero-table__body-td minus">MRKS</td>
                            <td class="tabcontent-hero-table__body-td minus">0.818 - 0.81</td>
                            <td class="tabcontent-hero-table__body-td minus">1.65</td>
                            <td class="tabcontent-hero-table__body-td minus">30.44</td>
                            <td class="tabcontent-hero-table__body-td minus">8.31</td>
                            <td class="tabcontent-hero-table__body-td minus">3.66</td>
                            <td class="tabcontent-hero-table__body-td minus">3.66</td>
                        </tr>
                    </tbody>
                </table>
                <table class="hero-table__tabcontent tabcontent-hero-table" data-tabContent="4">
                    <thead class="tabcontent-hero-table__head">
                        <tr class="tabcontent-hero-table__head-tr">
                            <th class="tabcontent-hero-table__head-th" data-popup="style">Стиль</th>
                            <th class="tabcontent-hero-table__head-th" data-popup="teaker">Тикер</th>
                            <th class="tabcontent-hero-table__head-th" data-popup="range">Диапозон входа</th>
                            <th class="tabcontent-hero-table__head-th" data-popup="profit">Тейк-Профит</th>
                            <th class="tabcontent-hero-table__head-th" data-popup="stop">Стоп-Лосс</th>
                            <th class="tabcontent-hero-table__head-th" data-popup="tp">%ТП</th>
                            <th class="tabcontent-hero-table__head-th" data-popup="sp">%СП</th>
                            <th class="tabcontent-hero-table__head-th" data-popup="profit">Прибыль/риск</th>
                        </tr>
                        <tr class="tabcontent-hero-table__head-th empty"></tr>
                    </thead>
                    <tbody class="tabcontent-hero-table__body">
                        <tr class="tabcontent-hero-table__body-tr">
                            <td  class="tabcontent-hero-table__body-td minus">Среднесрок</td>
                            <td class="tabcontent-hero-table__body-td minus">MRKS</td>
                            <td class="tabcontent-hero-table__body-td minus">0.818 - 0.81</td>
                            <td class="tabcontent-hero-table__body-td minus">1.55</td>
                            <td class="tabcontent-hero-table__body-td minus">30.44</td>
                            <td class="tabcontent-hero-table__body-td minus">8.31</td>
                            <td class="tabcontent-hero-table__body-td minus">3.66</td>
                            <td class="tabcontent-hero-table__body-td minus">3.66</td>
                        </tr>
                        <tr class="tabcontent-hero-table__body-tr">
                            <td class="tabcontent-hero-table__body-td plus">Среднесрок</td>
                            <td class="tabcontent-hero-table__body-td plus">MRKS</td>
                            <td class="tabcontent-hero-table__body-td plus">0.818 - 0.81</td>
                            <td class="tabcontent-hero-table__body-td plus">1.55</td>
                            <td class="tabcontent-hero-table__body-td plus">30.44</td>
                            <td class="tabcontent-hero-table__body-td plus">8.31</td>
                            <td class="tabcontent-hero-table__body-td plus">3.66</td>
                            <td class="tabcontent-hero-table__body-td plus">3.66</td>
                        </tr>
                        <tr class="tabcontent-hero-table__body-tr">
                            <td class="tabcontent-hero-table__body-td minus">Среднесрок</td>
                            <td class="tabcontent-hero-table__body-td minus">MRKS</td>
                            <td class="tabcontent-hero-table__body-td minus">0.818 - 0.81</td>
                            <td class="tabcontent-hero-table__body-td minus">1.55</td>
                            <td class="tabcontent-hero-table__body-td minus">30.44</td>
                            <td class="tabcontent-hero-table__body-td minus">8.31</td>
                            <td class="tabcontent-hero-table__body-td minus">3.66</td>
                            <td class="tabcontent-hero-table__body-td minus">3.66</td>
                        </tr>
                        <tr class="tabcontent-hero-table__body-tr tabcontent-hero-table__body-tr--actual">
                            <td class="tabcontent-hero-table__body-td minus">Среднесрок</td>
                            <td class="tabcontent-hero-table__body-td minus">MRKS</td>
                            <td class="tabcontent-hero-table__body-td minus">0.818 - 0.81</td>
                            <td class="tabcontent-hero-table__body-td minus">1.55</td>
                            <td class="tabcontent-hero-table__body-td minus">30.44</td>
                            <td class="tabcontent-hero-table__body-td minus">8.31</td>
                            <td class="tabcontent-hero-table__body-td minus">3.66</td>
                            <td class="tabcontent-hero-table__body-td minus">3.66</td>
                        </tr>
                        <tr class="tabcontent-hero-table__body-tr">
                            <td class="tabcontent-hero-table__body-td plus">Среднесрок</td>
                            <td class="tabcontent-hero-table__body-td plus">MRKS</td>
                            <td class="tabcontent-hero-table__body-td plus">0.818 - 0.81</td>
                            <td class="tabcontent-hero-table__body-td plus">1.55</td>
                            <td class="tabcontent-hero-table__body-td plus">30.44</td>
                            <td class="tabcontent-hero-table__body-td plus">8.31</td>
                            <td class="tabcontent-hero-table__body-td plus">3.66</td>
                            <td class="tabcontent-hero-table__body-td plus">3.66</td>
                        </tr>
                        <tr class="tabcontent-hero-table__body-tr">
                            <td class="tabcontent-hero-table__body-td minus">Среднесрок</td>
                            <td class="tabcontent-hero-table__body-td minus">MRKS</td>
                            <td class="tabcontent-hero-table__body-td minus">0.818 - 0.81</td>
                            <td class="tabcontent-hero-table__body-td minus">1.55</td>
                            <td class="tabcontent-hero-table__body-td minus">30.44</td>
                            <td class="tabcontent-hero-table__body-td minus">8.31</td>
                            <td class="tabcontent-hero-table__body-td minus">3.66</td>
                            <td class="tabcontent-hero-table__body-td minus">3.66</td>
                        </tr>
                        <tr class="tabcontent-hero-table__body-tr">
                            <td class="tabcontent-hero-table__body-td minus">Среднесрок</td>
                            <td class="tabcontent-hero-table__body-td minus">MRKS</td>
                            <td class="tabcontent-hero-table__body-td minus">0.818 - 0.81</td>
                            <td class="tabcontent-hero-table__body-td minus">1.55</td>
                            <td class="tabcontent-hero-table__body-td minus">30.44</td>
                            <td class="tabcontent-hero-table__body-td minus">8.31</td>
                            <td class="tabcontent-hero-table__body-td minus">3.66</td>
                            <td class="tabcontent-hero-table__body-td minus">3.66</td>
                        </tr>
                    </tbody>
                </table>
                <table class="hero-table__tabcontent tabcontent-hero-table" data-tabContent="5">
                    <thead class="tabcontent-hero-table__head">
                        <tr class="tabcontent-hero-table__head-tr">
                            <th class="tabcontent-hero-table__head-th" data-popup="style">Стиль</th>
                            <th class="tabcontent-hero-table__head-th" data-popup="teaker">Тикер</th>
                            <th class="tabcontent-hero-table__head-th" data-popup="range">Диапозон входа</th>
                            <th class="tabcontent-hero-table__head-th" data-popup="profit">Тейк-Профит</th>
                            <th class="tabcontent-hero-table__head-th" data-popup="stop">Стоп-Лосс</th>
                            <th class="tabcontent-hero-table__head-th" data-popup="tp">%ТП</th>
                            <th class="tabcontent-hero-table__head-th" data-popup="sp">%СП</th>
                            <th class="tabcontent-hero-table__head-th" data-popup="profit">Прибыль/риск</th>
                        </tr>
                        <tr class="tabcontent-hero-table__head-th empty"></tr>
                    </thead>
                    <tbody class="tabcontent-hero-table__body">
                        <tr class="tabcontent-hero-table__body-tr">
                            <td  class="tabcontent-hero-table__body-td minus">Среднесрок</td>
                            <td class="tabcontent-hero-table__body-td minus">MRKS</td>
                            <td class="tabcontent-hero-table__body-td minus">0.818 - 0.81</td>
                            <td class="tabcontent-hero-table__body-td minus">1.45</td>
                            <td class="tabcontent-hero-table__body-td minus">30.44</td>
                            <td class="tabcontent-hero-table__body-td minus">8.31</td>
                            <td class="tabcontent-hero-table__body-td minus">3.66</td>
                            <td class="tabcontent-hero-table__body-td minus">3.66</td>
                        </tr>
                        <tr class="tabcontent-hero-table__body-tr">
                            <td class="tabcontent-hero-table__body-td plus">Среднесрок</td>
                            <td class="tabcontent-hero-table__body-td plus">MRKS</td>
                            <td class="tabcontent-hero-table__body-td plus">0.818 - 0.81</td>
                            <td class="tabcontent-hero-table__body-td plus">1.45</td>
                            <td class="tabcontent-hero-table__body-td plus">30.44</td>
                            <td class="tabcontent-hero-table__body-td plus">8.31</td>
                            <td class="tabcontent-hero-table__body-td plus">3.66</td>
                            <td class="tabcontent-hero-table__body-td plus">3.66</td>
                        </tr>
                        <tr class="tabcontent-hero-table__body-tr">
                            <td class="tabcontent-hero-table__body-td minus">Среднесрок</td>
                            <td class="tabcontent-hero-table__body-td minus">MRKS</td>
                            <td class="tabcontent-hero-table__body-td minus">0.818 - 0.81</td>
                            <td class="tabcontent-hero-table__body-td minus">1.45</td>
                            <td class="tabcontent-hero-table__body-td minus">30.44</td>
                            <td class="tabcontent-hero-table__body-td minus">8.31</td>
                            <td class="tabcontent-hero-table__body-td minus">3.66</td>
                            <td class="tabcontent-hero-table__body-td minus">3.66</td>
                        </tr>
                        <tr class="tabcontent-hero-table__body-tr tabcontent-hero-table__body-tr--actual">
                            <td class="tabcontent-hero-table__body-td minus">Среднесрок</td>
                            <td class="tabcontent-hero-table__body-td minus">MRKS</td>
                            <td class="tabcontent-hero-table__body-td minus">0.818 - 0.81</td>
                            <td class="tabcontent-hero-table__body-td minus">1.45</td>
                            <td class="tabcontent-hero-table__body-td minus">30.44</td>
                            <td class="tabcontent-hero-table__body-td minus">8.31</td>
                            <td class="tabcontent-hero-table__body-td minus">3.66</td>
                            <td class="tabcontent-hero-table__body-td minus">3.66</td>
                        </tr>
                        <tr class="tabcontent-hero-table__body-tr">
                            <td class="tabcontent-hero-table__body-td plus">Среднесрок</td>
                            <td class="tabcontent-hero-table__body-td plus">MRKS</td>
                            <td class="tabcontent-hero-table__body-td plus">0.818 - 0.81</td>
                            <td class="tabcontent-hero-table__body-td plus">1.45</td>
                            <td class="tabcontent-hero-table__body-td plus">30.44</td>
                            <td class="tabcontent-hero-table__body-td plus">8.31</td>
                            <td class="tabcontent-hero-table__body-td plus">3.66</td>
                            <td class="tabcontent-hero-table__body-td plus">3.66</td>
                        </tr>
                        <tr class="tabcontent-hero-table__body-tr">
                            <td class="tabcontent-hero-table__body-td minus">Среднесрок</td>
                            <td class="tabcontent-hero-table__body-td minus">MRKS</td>
                            <td class="tabcontent-hero-table__body-td minus">0.818 - 0.81</td>
                            <td class="tabcontent-hero-table__body-td minus">1.45</td>
                            <td class="tabcontent-hero-table__body-td minus">30.44</td>
                            <td class="tabcontent-hero-table__body-td minus">8.31</td>
                            <td class="tabcontent-hero-table__body-td minus">3.66</td>
                            <td class="tabcontent-hero-table__body-td minus">3.66</td>
                        </tr>
                        <tr class="tabcontent-hero-table__body-tr">
                            <td class="tabcontent-hero-table__body-td minus">Среднесрок</td>
                            <td class="tabcontent-hero-table__body-td minus">MRKS</td>
                            <td class="tabcontent-hero-table__body-td minus">0.818 - 0.81</td>
                            <td class="tabcontent-hero-table__body-td minus">1.45</td>
                            <td class="tabcontent-hero-table__body-td minus">30.44</td>
                            <td class="tabcontent-hero-table__body-td minus">8.31</td>
                            <td class="tabcontent-hero-table__body-td minus">3.66</td>
                            <td class="tabcontent-hero-table__body-td minus">3.66</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!-- <div class="hero-table__tabs-contents-mobile">
                
            </div> -->
        </div>
        <div class="hero-table__tabs-mobile">

        </div>
    </div>
</section>
<!-- HERO -->