<!-- LOGIN -->
<div class="login page-auth">
    <img loading="lazy" src="/assets/img/webp/circle-hero.webp" class="page-auth__img login__img" width="1197" height="714">
    <div class="login__wrapper page-auth__wrapper">
        <h1 class="login__title page-auth__title text-gradient">вход</h1>
        <form action="#" class="login__form page-auth__form">
            <input type="email" placeholder="Ваш e-mail" class="input-reset login__input page-auth__input">
            <input type="password" placeholder="Пароль" class="input-reset login__input page-auth__input">
            <button class="btn-reset login__btn page-auth__btn" type="submit">Войти</button>
        </form>
        <div class="login__links">
            <a href="page-register.html" class="login__link login__register">Пройти регистрацию</a>
            <a href="page-password.html" class="login__link login__password">Восстановить пароль</a>
        </div>
    </div>
    
</div>
<!-- /LOGIN -->