<!-- MANAGEMENT -->
<section class="management">
    <p class="management__paragraph paragraph-common">
        Риск менеджмент или управление риском&nbsp;&mdash; один из&nbsp;самых важных аспектов трейдинга и&nbsp;инвестиций, от&nbsp;понимания которого напрямую зависит ваш финансовый результат.
    </p>
    <p class="management__paragraph paragraph-common">
        Пожалуйста, прочитайте эту статью столько раз, сколько потребуется, чтобы понять каждое слово, каждую строчку и&nbsp;весь смысл того, что здесь написано. И&nbsp;когда читая, вы&nbsp;будете чувствовать, что в&nbsp;вашей голове начинает ломаться привычное представление о&nbsp;том, как нужно открывать сделку&nbsp;&mdash; это значит что вы&nbsp;на&nbsp;верном пути и&nbsp;уже преодолеваете этот невидимый барьер, который разделяет всех участников торгов на&nbsp;тех, кто приносит деньги на&nbsp;биржу, и&nbsp;на&nbsp;тех, кто уносит прибыль с&nbsp;биржи.
    </p>
    <p class="management__paragraph paragraph-common">
        <b>Риск</b>&nbsp;&mdash; это сумма <b>убытка</b> в&nbsp;процентном отношении от&nbsp;депозита (1%, 2%, 5%&nbsp;и&nbsp;т.д.), или в&nbsp;абсолютном значении ($100, $1000 и&nbsp;т.д.), которая сформируется в&nbsp;случае достижении цены установленного стоп-лосса.
    </p>
    <p class="management__paragraph paragraph-common bold">
        Именно этим риском Вам предстоит научиться управлять.
    </p>
    <p class="management__paragraph paragraph-common">
        Прежде чем приступать к&nbsp;торговле, вы&nbsp;должны четко определить для себя, какой риск на&nbsp;каждую сделку вы&nbsp;готовы брать (это будет ваша постоянная величина), а&nbsp;также максимальное количество одновременно открываемых позиций, т.е. суммарный риск. Таким образом, вы&nbsp;начинаете регулировать и&nbsp;ограничивать максимальный убыток от&nbsp;вашей торговой деятельности.
    </p>
    <p class="management__paragraph paragraph-common italic padding">
        <b>Консервативным риском</b> обычно считается риск на&nbsp;сделку не&nbsp;более&nbsp;1% от&nbsp;депозита, с&nbsp;суммарным риском не&nbsp;более&nbsp;2% (т.е. или одновременно открыто 2&nbsp;сделки по&nbsp;1% или 1&nbsp;сделка на&nbsp;2%). Подходит для тех, кто только начинает свой путь в&nbsp;финансовом мире.
    </p>
    <p class="management__paragraph paragraph-common italic padding">
        <b>Умеренным риском</b> обычно называют риск на&nbsp;сделку не&nbsp;более&nbsp;2% от&nbsp;депозита и&nbsp;не&nbsp;более 2&nbsp;одновременно открытых позиций, т.е. суммарный риск в&nbsp;моменте не&nbsp;должен превышает&nbsp;4% от&nbsp;депозита. Подходит для тех, у&nbsp;кого уже есть небольшой опыт и&nbsp;положительная статистика торгов.
    </p>
    <p class="management__paragraph paragraph-common italic padding">
        <b>Агрессивным подходом</b> считается суммарный риск 5&nbsp;и&nbsp;более&nbsp;%, который может быть распределен как в&nbsp;одной сделки, так и&nbsp;в&nbsp;несколько одновременно открытых в&nbsp;моменте. Такой риск используют профессиональные трейдеры и&nbsp;инвесторы, имеющие собственную торговую стратегию, которая на&nbsp;протяжении длительного времени показывает положительные результаты торговли.
    </p>
    <ul class="list-reset management__list">
        <li class="management__list-item">
            Управление риском сделки начинается с&nbsp;того, что рассчитывается объем средств, выделяемых под конкретную сделку через стоп-лосс, формула такая:
        </li>
        <li class="management__list-item italic">
            Объем сделки в&nbsp;%&nbsp;от&nbsp;депозита = (%&nbsp;вашего риска&nbsp;/ %&nbsp;стопа от&nbsp;точки входа&nbsp;/ плечо, используемое в&nbsp;сделки) *100
        </li>
        <li class="management__list-item">Пример на&nbsp;сделки VKCO:</li>
        <li class="management__list-item"><b>вход:</b> 539 <b>стоп-лосс:</b> 404 (25,05%) <b>тейк-профит:</b> 774 (43,6%)</li>
        <li class="management__list-item">
            Сделаем расчет с&nbsp;депозитом 50&nbsp;000&nbsp;рублей, через умеренный риск в&nbsp;<b>2%</b> на&nbsp;сделку (1000&nbsp;рублей) без плеча и&nbsp;с&nbsp;плечом&nbsp;3.
        </li>
        <li class="management__list-item">
            <b>2%</b>&nbsp;/ 25,05&nbsp;/ 1 * 100 = 7,98%&nbsp;&mdash; при торговле без плеча
        </li>
        <li class="management__list-item">
            <b>2%</b>&nbsp;/25,05&nbsp;/ 3 * 100 = 2,66%&nbsp;&mdash; при торговле с&nbsp;плечом&nbsp;3.
        </li>
    </ul>
    <p class="management__paragraph paragraph-common">
        Таким образом, при торговле без плеча, купив акции VCKO на&nbsp;7,98% от&nbsp;депозита или на&nbsp;3990&nbsp;рублей, вы&nbsp;рискуете потерять на&nbsp;этой сделки всего лишь&nbsp;2% от&nbsp;депозита или 1000&nbsp;рублей.
    </p>
    <p class="management__paragraph paragraph-common">
        При торговле с&nbsp;плечом&nbsp;3, вам потребуется сумма в&nbsp;размере 2,66% от&nbsp;депозита или 1330&nbsp;рублей, чтобы взять сделку с&nbsp;риском&nbsp;2% или в&nbsp;1000&nbsp;рублей.
    </p>
    <p class="management__paragraph paragraph-common">
        Т.е.&nbsp;в&nbsp;обоих случаях ваш убыток от&nbsp;этой сделки не&nbsp;превысит&nbsp;2% от&nbsp;депозита или 1000&nbsp;рублей, не&nbsp;важно, какое плечо вы&nbsp;используете. И&nbsp;в&nbsp;этом и&nbsp;есть основная суть риск-менеджмента. Вы&nbsp;всегда знаете, сколько теоретически можете потерять на&nbsp;той или иной сделке, и&nbsp;управляете этой суммой, сами её&nbsp;устанавливаете, задаёте и&nbsp;контролируете&nbsp;её, используя постоянно во&nbsp;всех ваших сделках.
    </p>
    <p class="management__paragraph paragraph-common">
        Округляйте суммы в&nbsp;меньшую сторону, и&nbsp;не&nbsp;превышайте установленного порога, пусть это будет для вас таким&nbsp;же правилом, как почистить зубы с&nbsp;утра.
    </p>
    <p class="management__paragraph paragraph-common">
        Хотите рискнуть?! Вам кажется, что сделка железобетонная или у&nbsp;вас есть 100% инсайд&nbsp;&mdash; не&nbsp;проблема, просто увеличьте и&nbsp;четко установите %&nbsp;риска, которым готовы пожертвовать, если что-то пойдет не&nbsp;по&nbsp;вашему плану. Тем не&nbsp;менее, вы&nbsp;будете знать, на&nbsp;какой риск идете, еще до&nbsp;момента открытия сделки, и&nbsp;будете спокойно спать, зная, что не&nbsp;потеряете больше запланированного.
    </p>
    <p class="management__paragraph paragraph-common">
        Начинайте с&nbsp;небольшого риска, постепенно увеличивая его если видите, что ваша торговля приносит вам профит в&nbsp;течении 1&nbsp;года.
    </p>
    <p class="management__paragraph paragraph-common">
        Риск должен стать вашей основной переменной в&nbsp;торговле. Рассматривайте все свои сделки с&nbsp;точки зрения риска&nbsp;&mdash; так, например, вышеупомянутая сделка VKCO принесёт вам не&nbsp;43,5% профита, а&nbsp;принесет вам&nbsp;&mdash; 1,74 риска (43,6/25,05) или другими словами, соотношение потенциальной прибыли к&nbsp;потенциальному риску (убытку) в&nbsp;данной сделке составляет 1,74. Ищите сделки с&nbsp;потенциально высоким соотношением прибыль/риск&nbsp;&mdash; это и&nbsp;будет залогом вашей успешной торговли. Считайте свои успехи через риск, анализируйте все свои или чужие сделки через риск. Риск будет ограничивать ваш убыток, но&nbsp;не&nbsp;будет ограничивать вашу прибыль.
    </p>
    <p class="management__paragraph paragraph-common">
        Формула вашего финансового результата = сумма всех прибыльных сделок в&nbsp;рисках&nbsp;&mdash; сумма всех убыточных сделок в&nbsp;рисках.
    </p>
    <div class="management__str str-common">
        Пример на&nbsp;10&nbsp;сделках, где прибыльных только&nbsp;50%:
    </div>
    <div class="management__str str-common">
        (1,5 +0,7*+ 1 +2,5 +3)&nbsp;&mdash; (1 +1 +1 +1 +0,5*) = 4,2 риска
    </div>
    <div class="management__str str-common">
        4,2 риска * 2%&nbsp;риска = 8,4&nbsp;% чистая прибыль к&nbsp;депозиту
    </div>
    <p class="management__paragraph paragraph-common italic">
        *вторая и&nbsp;последняя сделки для примера взяты с&nbsp;прибылью 0,7 риска и&nbsp;убытком 0,5 риска&nbsp;&mdash; такое тоже бывает, когда позиция закрывается вручную досрочно, в&nbsp;случае изменения рынка и&nbsp;формирования новой торговой ситуации.
    </p>
    <p class="management__paragraph paragraph-common italic padding">
        Важно отметить, что <b>стоп-лосс</b> устанавливается не&nbsp;наобум, а&nbsp;исходя из&nbsp;структуры графика, объемов торгов, волатильности и&nbsp;ликвидности инструмента, поэтому для каждой конкретной сделки он&nbsp;всегда будет свой, но&nbsp;для нас это не&nbsp;имеет значения, будь он&nbsp;2% или&nbsp;30% от&nbsp;точки входа, мы&nbsp;все равно ограничим свои убытки при помощи риска и&nbsp;рассчитаем правильный объем денежных средств, необходимый для входа в&nbsp;позицию.
    </p>
    <p class="management__paragraph paragraph-common">
        Таким образом, всё, что остается вам делать, это искать сделки с&nbsp;наибольшим потенциалом прибыль/риск и&nbsp;четко рассчитывать свои риски, в&nbsp;том числе и&nbsp;в&nbsp;соотношении со&nbsp;временем отработки сделки&nbsp;&mdash; СТИЛЕМ.
    </p>
    <p class="management__paragraph paragraph-common">
        Добро пожаловать на&nbsp;нашу платформу, задача которой заключается в&nbsp;том, чтобы значительно облегчить и&nbsp;сократить время на&nbsp;поиск прибыльных торговых ситуаций, кратно повысить качество ваших сделок, стать вашим верным другом и&nbsp;помощников в&nbsp;задаче по&nbsp;увеличению вашего капитала.
    </p>
</section>
<!-- /MANAGEMENT -->