<!-- PASSWORD -->
<div class="password page-auth">
    <img loading="lazy" src="/assets/img/webp/circle-hero.webp" class="page-auth__img password__img" width="1197" height="714">
    <div class="password__wrapper page-auth__wrapper">
        <h1 class="password__title page-auth__title text-gradient">Сбросить пароль</h1>
        <form action="#" class="password__form page-auth__form">
            <input type="email" placeholder="Ваш e-mail" class="input-reset password__input page-auth__input">
            <input type="password" placeholder="Новый пароль" class="input-reset password__input page-auth__input">
            <input type="password" placeholder="Повторите пароль" class="input-reset password__input page-auth__input">
            <div class="password__code">
                <button class="btn-reset password__get-code page-auth__btn">Получить код</button>
                <input type="text" placeholder="Код" class="input-reset password__input-code page-auth__input">
            </div>
            <button type="submit" class="btn-reset password__btn page-auth__btn">Сменить пароль</button>
        </form>
        <div class="password__links">
            <a href="page-login.html" class="password__link password__password">Авторизация</a>
        </div>
    </div>
</div>
<!-- /PASSWORD -->