<!-- PAYMENT -->
<section class="payment">
    <form class="payment__form">
        <img loading="lazy" src="./assets/img/webp/circle-hero.webp" class="payment__img" width="1197" height="714" alt="Фоновая подсветка">
        <ul class="list-reset payment__list">
            <li class="payment__list-header">
                <span class="payment__list-title">Доступ на месяц</span>
                <span class="payment__list-title">Цена за месяц, руб</span>
                <span class="payment__list-title">Кол-во месяцев</span>
                <span class="payment__list-title">Доступ до</span>
            </li>
            <li class="payment__item payment-item">
                <div class="payment-item__col">
                    <div class="payment-item__name">РОССИЯ</div>
                    <div class="payment-item__options">свинг + краткосрок + среднесрок + долгосрок</div>
                    <div class="payment-item__deadline">доступ до <span class="payment-item__deadline-value">02-05-3000</span></div>
                </div>
                <div class="payment-item__col">
                    <div class="payment-item__cost">990</div>
                </div>
                <div class="payment-item__col">
                    <div class="payment-item__amount">
                        <div class="payment-item__minus payment-item__change">-</div>
                        <input type="number" value='1' class="payment-item__value">
                        <div class="payment-item__plus payment-item__change">+</div>
                    </div>
                </div>
                <div class="payment-item__col">
                    <div class="payment-item__date">29-06-2024</div>
                </div>
            </li>
            <li class="payment__item payment-item">
                <div class="payment-item__col">
                    <div class="payment-item__name">КРИПТО USDT</div>
                    <div class="payment-item__options">свинг + краткосрок + среднесрок + долгосрок</div>
                    <div class="payment-item__deadline">доступ до <span class="payment-item__deadline-value">02-05-3000</span></div>
                </div>
                <div class="payment-item__col">
                    <div class="payment-item__cost">990</div>
                </div>
                <div class="payment-item__col">
                    <div class="payment-item__amount">
                        <div class="payment-item__minus payment-item__change">-</div>
                        <input type="number" value='0' class="payment-item__value">
                        <div class="payment-item__plus payment-item__change">+</div>
                    </div>
                </div>
                <div class="payment-item__col">
                    <div class="payment-item__date"></div>
                </div>
            </li>
            <li class="payment__item payment-item">
                <div class="payment-item__col">
                    <div class="payment-item__name">КРИПТО BTC</div>
                    <div class="payment-item__options">свинг + краткосрок + среднесрок + долгосрок</div>
                    <div class="payment-item__deadline">доступ до <span class="payment-item__deadline-value">02-05-3000</span></div>
                </div>
                <div class="payment-item__col">
                    <div class="payment-item__cost">990</div>
                </div>
                <div class="payment-item__col">
                    <div class="payment-item__amount">
                        <div class="payment-item__minus payment-item__change">-</div>
                        <input type="number" value='1' class="input-reset payment-item__value">
                        <div class="payment-item__plus payment-item__change">+</div>
                    </div>
                </div>
                <div class="payment-item__col">
                    <div class="payment-item__date">29-06-2024</div>
                </div>
            </li>
            <li class="payment__item payment-item">
                <div class="payment-item__col">
                    <div class="payment-item__name">ГОНКОНГ</div>
                    <div class="payment-item__options">свинг + краткосрок + среднесрок + долгосрок</div>
                    <div class="payment-item__deadline">доступ до <span class="payment-item__deadline-value">02-05-3000</span></div>
                </div>
                <div class="payment-item__col">
                    <div class="payment-item__cost">990</div>
                </div>
                <div class="payment-item__col">
                    <div class="payment-item__amount">
                        <div class="payment-item__minus payment-item__change">-</div>
                        <input type="number" value='0' class="payment-item__value">
                        <div class="payment-item__plus payment-item__change">+</div>
                    </div>
                </div>
                <div class="payment-item__col">
                    <div class="payment-item__date"></div>
                </div>
            </li>
            <li class="payment__item payment-item">
                <div class="payment-item__col">
                    <div class="payment-item__name">КРИПТО BTC</div>
                    <div class="payment-item__options">свинг + краткосрок + среднесрок + долгосрок</div>
                    <div class="payment-item__deadline">доступ до <span class="payment-item__deadline-value">02-05-3000</span></div>
                </div>
                <div class="payment-item__col">
                    <div class="payment-item__cost">990</div>
                </div>
                <div class="payment-item__col">
                    <div class="payment-item__amount">
                        <div class="payment-item__minus payment-item__change">-</div>
                        <input type="number" value='1' class="payment-item__value">
                        <div class="payment-item__plus payment-item__change">+</div>
                    </div>
                </div>
                <div class="payment-item__col">
                    <div class="payment-item__date">29-06-2024</div>
                </div>
            </li>
        </ul>
        <div class="payment__bottom">
            <div class="payment__promo-wrapper">
                <input type="text" placeholder="Промокод" class="payment__promo" />
            </div>
            <div class="payment__sum">
                Итого: <div class="payment__sum-val">
                    <span class="payment__sum-old">990 P</span>
                    <span class="payment__sum-new">790 P</span>
                </div>
            </div>
            <div class="payment__offer">
                <label class="payment__label">
                    <input type="checkbox" required class="payment__checkbox">
                    <span>Я соглашаюсь <a href="#">с условиями оферты</a></span>
                </label>
            </div>
            <div class="payment__btn-wrapper">
                <button class="btn-reset payment__btn" type="submit">
                    Оплатить
                </button>
            </div>
        </div>
    </form>
    
    <div class="cookies">
        tradescanner.ru использует cookie для персонализации сервисов и удобства пользователей. tradescanner.ru серьезно относится к защите персональных данных —  <a href="#">ознакомьтесь с пользовательским соглашением</a>. Вы можете запретить сохранение cookie в настройках своего браузера.
        <button class="btn-reset cookies__close" aria-label="Закрыть окно">
            <img loading="lazy" src="./assets/img/close.svg" class="cookies__close-svg" width="17" height="17" alt="Закрыть окно">
        </button>
    </div>

</section>
<!-- /PAYMENT -->