<section class="recomend">
    <div class="recomend__firm firm-about">
        <div class="firm-about__name">ООО «Трейдсканер»</div>
        <div class="firm-about__inn">ИНН / КПП: 9728125770/772801001</div>
        <div class="firm-about__ogrn">ОГРН 1247700158430</div>
        <address class="firm-about__address">Адрес: 117342, г. Москва, вн.тер.г.муниципальный округ Коньково, ул.Бутлерова, д.17Б, помещ. 139Н</address>
    </div>
    <h1 class="recomend__title">Не является индивидуальной инвестиционной рекомендацией</h1>
    <p class="recomend__paragraph paragraph-common">
        Информация, представленная на&nbsp;сайте tradescanner.ru, не&nbsp;является индивидуальной инвестиционной рекомендацией. Анализ, исследования, прогнозы и&nbsp;другая информация представлена без учета какого-либо конкретного инвестиционного профиля, а&nbsp;упоминаемые финансовые инструменты либо операции могут не&nbsp;соответствовать ожидаемой тем или иным пользователем сайта доходности, горизонту инвестирования, а&nbsp;также допустимому для того или иного пользователя сайта риску убытков. ООО &laquo;Трейдсканер&raquo; и&nbsp;редакция сайта не&nbsp;несут ответственности за&nbsp;возможные убытки в&nbsp;случае совершения торговых операций либо инвестирования в&nbsp;финансовые инструменты, упомянутые на&nbsp;сайте tradescanner.ru, и&nbsp;не&nbsp;рекомендует использовать контент сайта в&nbsp;качестве единственного источника информации при принятии инвестиционного решения.
    </p>
</section>