<!-- REGISTER -->
<div class="register page-auth">
    <img loading="lazy" src="/assets/img/webp/circle-hero.webp" class="page-auth__img register__img" width="1197" height="714">
    <div class="register__wrapper page-auth__wrapper">
        <h1 class="register__title page-auth__title text-gradient">регистрация</h1>
        <form action="#" class="register__form page-auth__form">
            <input type="email" placeholder="Ваш e-mail" class="input-reset register__input page-auth__input">
            <input type="password" placeholder="Пароль" class="input-reset register__input page-auth__input">
            <div class="register__code">
                <button class="btn-reset register__get-code page-auth__btn">Получить код</button>
                <input type="text" placeholder="Код" class="input-reset register__input-code page-auth__input">
            </div>
            <label class="register__label">
                <input type="checkbox" class="register__privacy">
                <span>Я соглашаюсь с <a href="privacy.html" class="register__link">пользовательским соглашением</a></span>
            </label>
            <button type="submit" class="btn-reset register__btn page-auth__btn">Зарегистрироваться</button>
        </form>
        <div class="register__links">
            <a href="page-login.html" class="register__link register__register">Авторизация</a>
        </div>
    </div>
    
</div>
<!-- /REGISTER -->