<!-- VIDEO -->
<section class="video">
    <h2 class="video__title hidden" aria-label="Видеоблок">Видеоблок</h2>
    <div class="video__images">
        <img loading="lazy" src="./assets/img/webp/circle-hero.webp" class="video__img-circle video__img" width="1242" height="741" alt="Фоновая подсветка">
        <picture>
          <source srcset="./assets/img/webp/video-bg.webp" media="(min-width: 576px)" type="image/webp" width="1075" height="746">
          <source srcset="./assets/img/webp/video-bg_mobile.webp" media="(max-width: 575px)" type="image/webp" width="320" height="375">
          <img loading="lazy" src="./assets/img/webp/video-bg.webp" srcset="./assets/img/webp/video-bg_2x.webp 2x" class="video__img-bg video__img" alt="Видеоблок">
        </picture>
    </div>
    <div class="video__wrapper">
        <iframe width="921" height="506" src="https://www.youtube.com/embed/0mRhdV3ldVM?si=kgLUVKtV03hXaGba" title="Видеоблок" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen class="video__player"></iframe>
    </div>
    
</section>
<!-- /VIDEO -->