// HEADER
.header {
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
    gap: clamp(20px, 5vw, 100px);
    padding: 20px 80px 20px 50px;
    @include tablet {
        align-items: center;
    }
    @include mobile {
        padding: 20px 18px;
    }

    &__account {
        position: relative;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        margin: 0 0 0 auto;
        gap: clamp(20px, 5vw, 36px);
    }

    &__popup {
        position: absolute;
        top: calc(100% + 10px);
        right: -20px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
        padding: 33px 50px 60px 50px;
        border-radius: 30px;
        background: $black-900;
        min-width: clamp(280px, 30vw, 420px);
        transition: .3s opacity ease-in-out, .3s visibility ease-in-out;
        z-index: 9;
        @include mobile {
            right: -40px;
            top: calc(100% + 20px);
        }
    }

    &__user {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: clamp(10px, 2vw, 36px);
        color: $blue-900;
        &:hover {
            .header-user__login {
                color: $blue-900;
            }
            .header-user__svg {
                path {
                    fill: currentColor;
                }
            }
        }
    }
    &__logo {
        .logo__img {
            width: clamp(280px, 20vw, 339px);
            @include desktop-md {
                width: 74px;
            }
        }
    }
}

.header-popup {
    &__link {
        color: $white;
        font-weight: 300;
        font-size: clamp(14px, 4vw, 20px);
        transition: .3s color ease-in-out;
        &:hover {
            color: $blue-800
        }
    }
}

.logo {
    transition: .3s transform ease-in-out;
    &:hover {
        transform: scale(1.05);
    }
}
.nav {
    @include tablet {
        display: none;
    }
    &__list {
        display: flex;
        align-items: center;
        gap: clamp(20px, 3vw, 76px);
    }

    &__item {
        line-height: 60%;
        transition: .3s color ease-in-out;
        font-size: 16px;
        &:hover {
            color: $blue-900;
        }
    }
}
.telegram {
    &__svg {
        width: clamp(23px, 3vw, 39px);
    }
    &:hover {
        & > .telegram__svg {
            path {
                transition: .3s fill ease-in-out;
                &:nth-child(1), &:nth-child(2) {
                    fill: $white;
                }
                &:nth-child(3) {
                    fill: $blue-900;
                }
            }
        }
    }
}
.header-user {
    
    &__svg {
        width: clamp(19px, 3vw, 28px);
        height: clamp(19px, 3vw, 28px);
        path {
            transition: .3s fill ease-in-out;
        }
    }

    &__login {
        font-size: 20px;
        font-weight: 700;
        line-height: 80%;
        color: $white;
        transition: .3s color ease-in-out;
        @include tablet {
            display: none;
        }
    }
}

.burger {
    @include burger;
}

.align-right {
    margin-left: auto;
}

// END HEADER