// HERO
.hero {

    &__titles {
        padding: 80px 22px 120px 50px;
        @include tablet {
            padding: 17px 10px 10px 10px;
        }
    }

    &__title {
        font-size: clamp(32px, 4vw, 64px);
        line-height: 109%;
        text-transform: uppercase;
        margin-bottom: 5px;
        max-width: 70%;
        @include tablet {
            max-width: 100%;
        }
    }

    &__subtitle {
        font-size: clamp(20px, 4vw, 64px);
        line-height: 109%;
        font-weight: 300;
        max-width: 60%;
        @include tablet-sm {
            max-width: 100%;
        }
        @include mobile {
            line-height: 125%;
            max-width: 88%;
        }
    }

    &__img {
        position: absolute;
        top: 0;
        right: 0;
        z-index: -1;
        width: clamp(400px, 40vw, 691px);
        opacity: 1;
        visibility: visible;
        transition: .3s opacity ease-in-out, .3s visibility ease-in-out;
        @include tablet {
            position: static;
            width: 50%;
            margin: 0 auto;
            margin-bottom: 20px;
        }
        @include mobile {
            width: 100%;
        }
    }

    &__circle {
        position: absolute;
        top: -70%;
        left: 0;
        z-index: -1;
        @include mobile {
            width: 100%;
        }
    }

    &__table {
        position: relative;
        @include mobile {
            padding: 0 16px;
        }
    }
}
.hero-table {

    &__header-list {
        display: flex;
        justify-content: space-between;
        padding: 13px 72px 13px 77px;
        background: $table-header-bg;
        border-radius: 84px;
        width: 80%;
        margin-left: auto;
    }

    &__top {
        display: none;
        @include tablet {
            display: block;
            margin-bottom: 13px;
        }
    }

    &__tabs {
        display: flex;
        @include tablet {
            display: block;
        }
    }

    &__tabs-btns {
        display: flex;
        flex-direction: column;
        margin-top: 92px;
        flex-shrink: 0;
        @include tablet {
            align-items: center;
            max-width: 495px;
            margin: 0 auto;
        }
        @include mobile {
            max-width: 100%;
        }
    }

    &__tabs-contents {
        flex-grow: 1;

        @include tablet {
            display: none;
        }
    }

    &__tabitem {
        width: 100%;
        color: $white;
        align-self: flex-start;
        border-radius: 30px 0 0 30px;
        min-height: 73px;
        padding: 13px 47px;
        flex-shrink: 0;
        transition: .3s background ease;
        @include desktop-md {
            padding: 13px 10px;
        }
        @include tablet {
            width: unset;
            min-height: 48px;
            border-radius: 30px;
            padding: 5px 20px;
        }
        @include mobile {
            padding: 5px 5px;
        }
        &:hover {
            background: $tabitem-bg;
        }
    }

    &__tabitem--active {
        background: $tabitem-bg;
        .crypto-deals__today {
            display: block;
        }
    }

    &__tabcontent {
        width: 100%;
    }

    &__mobile-content {
        display: none;
        padding: 20px 0; 
        @include mobile {
            font-size: 14px;
            width: 75%;
        }
    }
    &__popup {
        position: fixed;
        inset: 0;
        width: 100%;
        height: 100%;
        
        z-index: 9;
        transition: .3s opacity ease-in-out, .3s visibility ease-in-out;
        
        &--registered {
            & > .tabcontent-hero-table__popup-wrapper {
                padding: 22px 27px;
            }
        }
        .register {
            display: block;
            width: 60%;
            text-align: center;
            margin: 0 auto;
            padding: 5px 10px;
            background: $blue-800;
            color: $white;
            border-radius: 2px;
            transition: .3s background ease-in-out;
            &:hover {
                background: darken($blue-800, 20%);
            }
        }
        .link {
            color: $blue-900;
            font-size: 12px;
        }
    }
    &__popup-wrapper {
        position: absolute;
        padding: 22px 16px;
        width: 375px;
        background: $black;
        color: $white;
        font-weight: 400;
        font-size: 14px;
        line-height: 143%;
        border-radius: 30px;
        top: 50px;
        left: 50%;
        transform: translateX(-50%);
        box-shadow: 0 0 10px 0 $blue-900;
        @include mobile {
            width: 280px;
        }
    }
    &__popup-content {
        margin: 0;
        margin-bottom: 20px;
    }

    &__form {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
    }
    &__label {
        position: relative;
        display: flex;
        align-items: center;
        font-weight: 400;
        font-size: 14px;
        line-height: 140%;
        padding-left: 25px;
        cursor: pointer;
        span {
            margin-right: 20px;
            &::before {
                content: '';
                position: absolute;
                top: 50%;
                left: 0;
                transform: translateY(-50%);
                display: inline-block;
                width: 14px;
                height: 14px;
                background: $white;
                border-radius: 2px;
            }
        }
        & > .hero-table__input:checked + span::after {
            content: '';
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 3px;
            display: inline-block;
            width: 8px;
            height: 8px;
            border-radius: 2px;
            background: $blue-900;
        }
    }
    &__input {
        appearance: none;
        
    }
    &__btns {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 16px;
        min-height: 43px;
        width: 100%;
    }
    &__btn {
        color: $white;
        transition: .3s background ease-in-out;
        padding: 10px 30px;
        &--reset {
            border: 1px solid $white-100;
            border-radius: 2px;
            &:hover {
                background: rgba($white, .2);
            }
        }
        &--save {
            background: $blue-900;
            border-radius: 2px;
            &:hover {
                background: darken($blue-900, 20%);
            }
        }
    }
    &__info {
        position: fixed;
        bottom: 20px;
        right: 20px;
        padding: 11px 19px;
        font-weight: 700;
        font-size: 14px;
        background: $gray;
        border-radius: 2px;
        border: 1px solid $white;
        transition: .3s opacity ease-in-out, .3s visibility ease-in-out;
        z-index: 9;
    }

    &__popup-close {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: -30px;
        cursor: pointer;
    }
}

.hero-table-top {
    &__list {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 50px;
        @include mobile {
            gap: 10px;
            justify-content: space-between;
        }
    }
    &__item {
        @include mobile {
            font-size: 12px;
        }
        &--bg {
            background: $deals-bg;
            padding: 12px 8px;
            border-radius: 77px;
            @include mobile {
                padding: 12px 4px;
            }
        }
    }
}
.hero-table-tabitem {

    &__wrapper {
        display: flex;
        align-items: center;
        gap: 15px;
        @include desktop-md {
            gap: 10px;
        }
        @include desktop-sm {
            flex-direction: column;
        }
        @include tablet {
            flex-direction: row;
        }
        @include mobile {
            gap: 10px;
        }
    }
}
.crypto-name {
    font-size: clamp(15px, 1.5vw, 20px);
    line-height: 100%;
    font-weight: 700;
}
.crypto-deals {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
    padding: 8px 14px;
    background: $deals-bg;
    border-radius: 100px;
    min-height: 39px;
    &__value {
        font-size: clamp(15px, 1.5vw, 20px);
        font-weight: 700;
        line-height: 100%;
    }

    &__today {
        display: none;
        font-size: clamp(13px, 1vw, 16px);
        font-weight: 400;
        line-height: 100%;
    }
    @include desktop-md {
        gap: 5px;
        padding: 8px 10px;
    }
    
    @include tablet {
        background: none;
    }
}
.table-mobile-content {
    &__main {
        display: flex;
        justify-content: center;
        gap: 80px;
        margin-left: 40px;
        @include mobile {
            @include adaptive-size('margin-left', 70, 0, 575, 320);
            gap: 30px;
        }
    }
    &__main {
        margin-bottom: 20px;
        @include mobile {
            justify-content: space-between;
        }
    }
    &__other {
        display: flex;
        justify-content: space-between;
        max-width: 90%;
    }
    &__names {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
    &__name {
        &:not(:last-child) {
            margin-bottom: 16px;
        }
    }
    &__value {
        &:not(:last-child) {
            margin-bottom: 16px;
        }
    }
}
.tabcontent-hero-table {
    &__head {
        background: $table-header-bg;
        padding: 0 20px;
        border-radius: 30px;
        margin-bottom: 22px;
        .empty {
            background: transparent;
            height: 22px;
            width: 100%;
        }
    }
    &__head--fixed {
        position: fixed;
        top: 0;
        z-index: 9;
        background: $gray-100;
        border-radius: 0;
        
    }
    &__head-tr {
        display: grid;
        grid-template-columns: 1fr 1.2fr 1fr 1.7fr 1.7fr 1.2fr 1fr 1.2fr 1.5fr;
    }
    &__head-th {
        justify-self: center;
        text-align: center;
        padding: 26px 0;
        height: 70px;
        font-weight: 400;
        font-size: clamp(12px, 1vw, 16px);
        transition: .3s color ease-in-out;
        cursor: pointer;
        
        .table-btn {
            transition: .3s color ease-in-out;
            color: $white;
            &:hover {
                color: $blue-900;
            }
        }
    
    }

    &__calendar {
        background: transparent;
        border: none;
        color: $white;
        cursor: pointer;
        &::-webkit-calendar-picker-indicator {
            filter: invert(1);
            cursor: pointer;
        }
    }

    &__body {
        padding: 0 20px;
    }

    &__body-tr {
        display: grid;
        grid-template-columns: 1.2fr 1.2fr 1fr 1.7fr 1.7fr 1.2fr 1fr 1.2fr 1.5fr;
        background: $tabitem-bg;
        margin: 0 -20px;
        padding: 0 20px;
        position: relative;
        transition: .3s background ease-in-out;
        @include desktop-md {
            grid-template-columns: 1.6fr 1.2fr 1fr 1.7fr 1.7fr 1.2fr 1fr 1.2fr 1.5fr;
        }
        &:not(:last-child) {
            &::after {
                content: "";
                display: block;
                position: absolute;
                bottom: 0;
                left: 50%;
                width: 95%;
                transform: translateX(-50%);
                height: 1px;
                background: $table-border;
            }
        }
        &:last-child {
            border-bottom-left-radius: 30px;
            border-bottom-right-radius: 30px;
        }
        &:hover {
            background: $tabitem-actual-bg;
        }
    }


    &__body-td {
        width: fit-content;
        justify-self: center;
        text-align: center;
        padding: 26px 0;
        font-size: clamp(12px, 1vw, 16px);
        height: 70px;
        font-weight: 400;
        cursor: pointer;
        &:hover {
            text-decoration: underline;
        }
    }

    &__body-svg {
        path {
            transition: .3s fill ease-in-out;
        }
        &:hover {
            path {
                fill: currentColor;
            }
        }
    }


    &__item {
        display: flex;
        justify-content: space-between;
    }

}

.tabcontent-hero-table__body-td > .tabcontent-hero-table__body-svg {
    path {
        stroke: currentColor;
    }
}
// END HERO
