// PASSWORD
.password {

    &__title {
        font-size: clamp(29px, 6vw, 60px);
        text-align: center;
        margin-bottom: 85px;
        text-transform: unset;
    }

    &__code {
        display: flex;
        justify-content: space-between;
        gap: 19px;
    }

    &__get-code {
        width: 50%;
    }

    &__input-code {
        width: 50%;
    }

    &__btn {
        margin-bottom: 42px;
    }

    &__links {
        display: flex;
        justify-content: center;
    }

    &__link {
        text-decoration: underline;
    }

}

// END PASSWORD