html {
    box-sizing: border-box;
}

*, 
*::before,
*::after {
    box-sizing: inherit;
}

.page {
    &__body {
        font-family: "Montserrat", sans-serif;
        font-weight: 700;
        background: $black;
        color: $white;
        &--scroll-unable {
            overflow: hidden;
        }
    }
}

img {
    display: block;
    height: auto;
    max-width: 100%;
    object-fit: cover;
}

a {
    text-decoration: none;
    color: inherit;
    line-height: inherit;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

.btn-reset {
    border: none;
    padding: 0;
    background-color: transparent;
    cursor: pointer;
}

.list-reset {
    list-style: none;
    margin: 0;
    padding: 0;
}

.input-reset {
    -webkit-appearance: none;
    appearance: none;
    border: none;
    border-radius: 0;
    background-color: #fff;

    &::-webkit-search-decoration,
    &::-webkit-search-cancel-button,
    &::-webkit-search-results-button,
    &::-webkit-search-results-decoration {
        display: none;
    }
}

.article-title {
    font-size: clamp(20px, 3vw, 48px);
    line-height: clamp(146%, 5vw, 150%);
    text-transform: uppercase;
}

.article-text {
    font-size: clamp(14px, 2vw, 20px);
    line-height: clamp(130%, 20vw, 143%);
    font-weight: 400;
}

.example-title {
    font-size: clamp(20px, 4vw, 40px);
    line-height: clamp(150%, 20vw, 175%);
}

.hidden {
    opacity: 0 !important;
    visibility: hidden !important;
}

.text-gradient {
    background: $title-gradient;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.minus {
    color: $red-800;
}
.plus {
    color: $green;
}

.page-auth {
    position: relative;
    padding: 100px 20px;
    &__wrapper {
        max-width: 570px;
        margin: 0 auto;
    }
    &__img {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        @include mobile {
            top:10%;
        }
    }
    &__title {
        font-size: clamp(30px, 4vw, 64px);
        line-height: 110%;
        font-weight: 700;
        text-transform: uppercase;
    }
    &__input {
        border-radius: 2px;
        padding: clamp(20px, 5vw, 27px);
        color: $black;
        background: $white;
        max-height: 75px;
        &::placeholder {
            color: $gray-100;
            font-weight: 400;
        }
    }
    &__form {
        display: flex;
        flex-direction: column;
        gap: 19px;
    }

    &__btn {
        color: $white;
        padding: clamp(18px, 5vw, 24px) 0;
        background: $blue-900;
        font-weight: 700;
        font-size: clamp(16px, 4vw, 24px);
        max-height: 75px;
    }
}

.paragraph-common {
    line-height: 140%;
    font-weight: 400;
    margin: 0;
}
