$site-container-width: 1920px;

$title-gradient: linear-gradient(90deg, #3e158e 0%, #00f0ff 100%);

$maxWidth: 1920;
$minWidth: 320;

// COLORS
$white: #ffffff;
$white-100: #e4e4e4;
$black: #000000;
$blue-800: #3d9ae3;
$blue-900: #40acff;
$red-800: #f36b6b;
$red-900: #db0056;
$green: #9aecb1;
$gray: #262424;

$deals-bg: rgba(#0e020d, .3);
$tabitem-bg: rgba(#181818, .5);
$tabitem-actual-bg: rgba(#313131, .5);
$table-header-bg: rgba(#777777, .3);
$table-border: #2c2b2b;